<div class="container">
  <div class="card">

    <div class="row">
      <h3><b>{{titleComponent.mainTitle}}</b></h3>
      <div style="display: flex; justify-content:flex-end; margin-bottom: 1rem;" *ngIf="serviceResponse">
        <p-button icon="pi pi-refresh" [rounded]="true" (click)="getTransactions(true)" pTooltip="Actualizar"
          tooltipPosition="left"></p-button>
      </div>
    </div>

    <div class="row" *ngIf="serviceResponse">
      <p-table responsiveLayout="stack" #dt1 [value]="transactions" dataKey="id"
         styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="false" [rows]="5"
        [rowsPerPageOptions]="[5,10,20]" paginatorLocale="es-ES" width="100%">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt1) ; getTransactions(true)"></button>

              <div class="text-right flex-grow-1">

                <label>Mostrar Solo Transacciones Pagadas &nbsp;</label>
                <p-inputSwitch [(ngModel)]="filtroPagadas" (onChange)="confirmSwitchChange($event)"></p-inputSwitch>
              </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="text-align:center; vertical-align:middle" rowspan="2"> # </th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'nombreRazonSocial'">Razón
              Social<p-sortIcon field="nombreRazonSocial" (click)="customSort('nombreRazonSocial', orden)"></p-sortIcon>
            </th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'numeroDocumento'">Número
              Documento<p-sortIcon field="numeroDocumento" (click)="customSort('numeroDocumento', orden)"></p-sortIcon>
            </th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'emailCliente'">Correo
              Electrónico<p-sortIcon field="emailCliente" (click)="customSort('emailCliente', orden)"></p-sortIcon></th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'amount'">Monto Transacción
              Bs.<p-sortIcon field="amount" (click)="customSort('amount', orden)"></p-sortIcon></th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'registrationAt'">Fecha
              Transacción<p-sortIcon field="registrationAt" (click)="customSort('registrationAt', orden)"></p-sortIcon>
            </th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'giftCardNumber'">Número Gift
              card<p-sortIcon field="giftCardNumber" (click)="customSort('giftCardNumber', orden)"></p-sortIcon></th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'gloss'">Glosa<p-sortIcon
                field="gloss" (click)="customSort('gloss', orden)"></p-sortIcon></th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'placaVehiculo'">Placa
              Vehículo<p-sortIcon field="placaVehiculo" (click)="customSort('placaVehiculo', orden)"></p-sortIcon></th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'receiverBank'">Banco
              Recibido<p-sortIcon field="receiverBank" (click)="customSort('receiverBank', orden)"></p-sortIcon></th>
            <th style="text-align:center; vertical-align:middle" pSortableColumn="'receiverDocument'">Documento
              Recibido<p-sortIcon field="receiverDocument" (click)="customSort('receiverDocument', orden)"></p-sortIcon>
            </th>
            <th style="text-align:center; vertical-align:middle" rowspan="2">Opciones</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'nombreRazonSocial', 'contains')"
                placeholder="Busca Razón Social" class="w-full" [(ngModel)]="campoNombreRazonSocial">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'numeroDocumento', 'contains')"
                placeholder="Busca Número Documento" class="w-full" [(ngModel)]="campoNumeroDocumento">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'emailCliente', 'contains')"
                placeholder="Busca Correo Electrónico" class="w-full" [(ngModel)]="campoEmailCliente">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'amount', 'contains')"
                placeholder="Busca Monto Transacción" class="w-full" [(ngModel)]="campoAmount">
            </th>
            <th>
              <p-calendar [touchUI]="true" [baseZIndex]="-2" dateFormat="dd/mm/yy" [showButtonBar]="true" [locale]="es"
                (onSelect)="applyFilter($event, 'registrationAt', 'contains')" placeholder="Busca Fecha Transacción" [(ngModel)]="campoRegistrationAt">
              </p-calendar>
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'giftCardNumber', 'contains')"
                placeholder="Busca Gift Card" class="w-full" [(ngModel)]="campoGiftCardNumber">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'gloss', 'contains')" placeholder="Busca Glosa"
                class="w-full" [(ngModel)]="campoGloss">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'placaVehiculo', 'contains')"
                placeholder="Busca Placa Vehículo" class="w-full" [(ngModel)]="campoPlacaVehiculo">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'receiverBank', 'contains')"
                placeholder="Busca Banco recibido" class="w-full" [(ngModel)]="campoReceiverBank">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'receiverDocument', 'contains')"
                placeholder="Busca Documento Recibido" class="w-full" [(ngModel)]="campoReceiverDocument">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td style="text-align:right; vertical-align:middle">{{rowIndex + 1}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['nombreRazonSocial']}}</td>
            <td style="text-align:center; vertical-align:middle">{{rowData['numeroDocumento']}}</td>
            <td style="text-align:left; vertical-align:middle">{{rowData['emailCliente']}}</td>
            <td style="text-align:right; vertical-align:middle">{{rowData['amount'] | numberDecimal:2}}</td>
            <td style="text-align:center; vertical-align:middle">{{rowData['registrationAt'] | formatDiaMesAnio}}</td>
            <td style="text-align:center; vertical-align:middle">{{rowData['giftCardNumber']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['gloss']}}</td>
            <td style="text-align:center; vertical-align:middle" class="uppercase">{{rowData['placaVehiculo']}}</td>
            <td style="text-align:center; vertical-align:middle" class="uppercase">{{rowData['receiverBank']}}</td>
            <td style="text-align:center; vertical-align:middle" class="uppercase">{{rowData['receiverDocument']}}</td>
            <td style="text-align:center; vertical-align:middle">
              <i class="pi pi-qrcode" style="font-size: 1.5rem; color: var(--primary-color)"
                (click)="onOpenImagenQR(rowData)" tooltipPosition="left" pTooltip="Ver QR"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="itemsPerPage"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {{totalRecords}} registros">
      </p-paginator>
    </div>

    <div class="row">
      <p-dialog header={{titulosGlobales.info}} [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
        [draggable]="false" [resizable]="false" [draggable]="false" [resizable]="false" [modal]="true">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Converted Image" />
      </p-dialog>
    </div>

    <div *ngIf="!serviceResponse">
      <app-not-found [mensajeNotFound]="mensaje" (datosEnviados)="getTransactions(true)"></app-not-found>
      <br> <br>
    </div>

  </div>
</div>

<p-toast></p-toast>
<p-blockUI [blocked]="loading">
  <div class="loading-container">
    <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
    <p>Cargando...</p>
  </div>
</p-blockUI>