<p-toast></p-toast>
<p-dialog
  [(visible)]="dialogInfo"
  header="Información"
  [style]="{ width: '50vw' }"
  *ngIf="object"
>
  <div class="card p-fluid">
    <ng-container *ngFor="let column of columns">
      <div *ngIf="isColumnIncluded(column)" class="field grid">
        <label htmlFor="name" class="col-12 mb-2 md:col-4 md:mb-0"
          ><strong>{{ translateHeader(column) }}</strong>
        </label>
        <div class="col-12 md:col-8">
          <span
            appFormatValue="{{ object[column] }}"
            appFormatvalueType="{{ isVariableOfType(object[column]) }}"
          ></span>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-formgrid grid text-left">
      <div class="field col">
        <small
          ><label htmlFor="createdAt" class="col-12 mb-2 md:col-2 md:mb-0"
            ><strong>Creado en</strong></label
          ></small
        >
        <div class="col-12 md:col-10">
          <span>{{ object.createdAt | formatFieldDate }}</span>
        </div>
      </div>
      <div class="field col">
        <small
          ><label htmlFor="createdBy" class="col-12 mb-2 md:col-2 md:mb-0"
            ><strong>Creado por</strong></label
          ></small
        >
        <div class="col-12 md:col-10">
          <span>{{ object.createdBy }}</span>
        </div>
      </div>
    </div>
    <div class="p-formgrid grid text-left">
      <div class="field col">
        <small
          ><label htmlFor="updatedAt" class="col-12 mb-2 md:col-2 md:mb-0"
            ><strong>Actualizado en</strong></label
          ></small
        >
        <div class="col-12 md:col-10">
          <span>{{ object.updatedAt | formatFieldDate }}</span>
        </div>
      </div>
      <div class="field col">
        <small
          ><label htmlFor="updatedBy" class="col-12 mb-2 md:col-2 md:mb-0"
            ><strong>Actualizado por</strong></label
          ></small
        >
        <div class="col-12 md:col-10">
          <span>{{ object.updatedBy }}</span>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>