* {
    margin: 0;
}

app-header {
    height: 70px;
    background-color: green;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
}

.container .main-body {
    width: 100%;
}

.container app-sidebar {
    width: 0;
    overflow-y: auto;
    transition: all 0.5s;
    background-color: yellow;
}

/*Im using hover event to expand sidebar for example, you can use JS to handle click event*/
.container:hover app-sidebar {
    width: 200px;
}