<div class="container">
  <div class="card">
    <div class="row">
      <h3><b>{{componentTitle.mainTitle}}</b></h3>
      <div style="display: flex; justify-content:flex-end; margin-bottom: 1rem;">
        <p-button icon="pi pi-refresh" [rounded]="true" (click)="getAllAdministrations()" pTooltip="Actualizar"
          tooltipPosition="left"></p-button> &nbsp;
        <button  *ngIf="esSuperAdmin" pButton pRipple class="mat-raised-button" (click)="openDialog(true,false, 'crear')">Nuevo
          Registro</button>
      </div>
    </div>

    <div class="row">
      <p-table responsiveLayout="stack" #dt1 [value]="administradors" dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" paginatorLocale="es-ES"
        currentPageReportTemplate="Mostrando {first} a {last} de {{totalRecords}} registros"
        (sortFunction)="customSort($event)" [customSort]="true" width="100%">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearFilters(dt1) ; getAllAdministrations()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:5%; text-align:center; vertical-align:middle" rowspan="2">#</th>
            <th style="width:15%; text-align:center; vertical-align:middle" pSortableColumn="username">
              Usuario<p-sortIcon field="username"></p-sortIcon></th>
            <th style="width:13%; text-align:center; vertical-align:middle" pSortableColumn="names">Nombres<p-sortIcon
                field="names"></p-sortIcon></th>
            <th style="width:13%; text-align:center; vertical-align:middle" pSortableColumn="lastName">Apellido
              Paterno<p-sortIcon field="lastName"></p-sortIcon></th>
            <th style="width:13%; text-align:center; vertical-align:middle" pSortableColumn="motherLastName">Apellido
              Materno<p-sortIcon field="motherLastName"></p-sortIcon></th>
            <th style="width:15%; text-align:center; vertical-align:middle" pSortableColumn="electronicMail">Correo
              Electrónico<p-sortIcon field="electronicMail"></p-sortIcon></th>
            <th style="width:8%; text-align:center; vertical-align:middle" pSortableColumn="cellPhoneNumber">
              Celular<p-sortIcon field="cellPhoneNumber"></p-sortIcon></th>
            <th style="width:13%; text-align:center; vertical-align:middle" rowspan="2" pSortableColumn="enabled">
              Estado<p-sortIcon field="enabled"></p-sortIcon></th>
            <th style="width:5%; text-align:center; vertical-align:middle" rowspan="2">Opciones</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'username', 'contains')"
                placeholder="Busca por username" class="w-full" [(ngModel)]="username">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'names', 'contains')"
                placeholder="Busca por Nombres" class="w-full" [(ngModel)]="names">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'lastName', 'contains')"
                placeholder="Busca por Apellido Paterno" class="w-full" [(ngModel)]="lastName">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'motherLastName', 'contains')"
                placeholder="Busca por Apellido Materno" class="w-full" [(ngModel)]="motherLastName">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'electronicMail', 'contains')"
                placeholder="Busca por Correo Electrónico" class="w-full" [(ngModel)]="electronicMail">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'cellPhoneNumber', 'contains')"
                placeholder="Busca por Nro Celular" class="w-full" [(ngModel)]="cellPhoneNumber">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td style="text-align:center; vertical-align:middle">{{rowIndex + 1}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['username']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['names']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['lastName']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['motherLastName']}}</td>
            <td style="text-align:left; vertical-align:middle">{{rowData['electronicMail']}}</td>
            <td style="text-align:right; vertical-align:middle" class="uppercase">{{rowData['cellPhoneNumber']}}</td>
            <td style="text-align:center; vertical-align:middle">
              <div *ngIf="esSuperAdmin">
                <p-confirmPopup></p-confirmPopup>
                <p-inputSwitch [(ngModel)]="rowData['enabled']" (onChange)="confirmSwitchChange($event, rowData)">
                </p-inputSwitch><br>
                <label *ngIf="rowData['enabled']">Habilitado</label>
                <label *ngIf="!rowData['enabled']">Deshabilitado</label>
              </div>
              <div *ngIf="!esSuperAdmin">
                <label>{{rowData['enabled'] | formatHabilitadoDeshabilitado}}</label>
              </div>
            </td>
            <td style="text-align:center; vertical-align:middle">
              <div class="div" *ngIf="userLogin.id == rowData['id'] && !esSuperAdmin">
                <i class="pi pi-user-edit" style="font-size: 1.5rem; color: var(--primary-color);" data-bs-toggle="modal"
                  data-bs-target="#editModal" (click)="onSelecetedEdit(rowData)"></i> &nbsp;
              </div>
              <div class="div" *ngIf="esSuperAdmin">
                <i class="pi pi-user-edit" style="font-size: 1.5rem; color: var(--primary-color);" data-bs-toggle="modal"
                  data-bs-target="#editModal" (click)="onSelecetedEdit(rowData)"></i> &nbsp;
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- modal Crear nuevo -->
    <section class="dialogCrear">
      <p-dialog header={{titlesGlobales.create}} [(visible)]="dialogRegistro" [style]="{width: '50vw'}" class="p-fluid"
        [dismissableMask]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false"
        [resizable]="false">
        <ng-template pTemplate="content">
          <form class="row g-2" [formGroup]="formRegistro" autocomplete="off">

            <p-divider align="left">
              <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Datos Personales</b>
              </div>
            </p-divider>

            <div class="form-group field">
              <label for="names">{{labelsGlobales.name}}</label>
              <input type="text" pInputText required formControlName="names" appUppercase
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['names'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['names'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('names')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="lastName">{{labelsGlobales.apellidoPaterno}}</label>
              <input type="text" pInputText required formControlName="lastName"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['lastName'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['lastName'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('lastName')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="motherLastName">{{labelsGlobales.apellidoMaterno}}</label>
              <input type="text" pInputText required formControlName="motherLastName"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['motherLastName'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['motherLastName'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('motherLastName')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="identificationNumber">{{labelsGlobales.ci}}</label>
              <input type="text" pInputText required formControlName="identificationNumber"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['identificationNumber'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['identificationNumber'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('identificationNumber')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="cellPhoneNumber">{{labelsGlobales.celular}}</label>
              <input type="text" pInputText required formControlName="cellPhoneNumber"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['cellPhoneNumber'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['cellPhoneNumber'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('cellPhoneNumber')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="phoneNumber">{{labelsGlobales.telefono}}</label>
              <input type="text" pInputText formControlName="phoneNumber" />
            </div>

            <div class="form-group field">
              <label for="birthdate">{{labelsGlobales.fechaNacimiento}}</label>
              <p-calendar formControlName="birthdate" dateFormat="dd/mm/yy"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['birthdate'].invalid}">
              </p-calendar>
              <div *ngIf="submitted && formRegistro.controls['birthdate'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('birthdate')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="electronicMail">{{labelsGlobales.email}}</label>
              <input type="text" pInputText required formControlName="electronicMail"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['electronicMail'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['electronicMail'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('electronicMail')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <p-divider align="left">
              <div class="inline-flex align-items-center">
                <i class="pi pi-unlock mr-2"></i>
                <b>Datos de Usuario</b>
              </div>
            </p-divider>

            <div class="form-group field">
              <label for="username">{{labelsGlobales.username}}</label>
              <input type="text" pInputText required formControlName="username" value="" autocomplete="off"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['username'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['username'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('username')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="password">{{labelsGlobales.contrasenia}}</label>
              <input type="password" pInputText required formControlName="password" value="" autocomplete="new-password"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['password'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['password'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('password')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple [label]="botonesGlobales.cancel" icon="pi pi-times"
            class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false, 'crear')"></button>
          <button pButton pRipple [label]="botonesGlobales.save" icon="pi pi-check" class="p-button-rounded mr-2"
            (click)="onValidaFormulario()"></button>
        </ng-template>
      </p-dialog>
    </section>
    <!-- modal Crear nuevo -->

    <!-- modal Editar -->
    <section class="dialogEdit">
      <p-dialog header={{titlesGlobales.edit}} [(visible)]="dialogEdit" [style]="{width: '50vw'}" class="p-fluid"
        [dismissableMask]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false"
        [resizable]="false">
        <ng-template pTemplate="content">
          <form class="row g-2" [formGroup]="formRegistro" autocomplete="off">

            <p-divider align="left">
              <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Datos Personales</b>
              </div>
            </p-divider>

            <div class="form-group field">
              <label for="names">{{labelsGlobales.name}}</label>
              <input type="text" pInputText required formControlName="names"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['names'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['names'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('names')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="lastName">{{labelsGlobales.apellidoPaterno}}</label>
              <input type="text" pInputText required formControlName="lastName"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['lastName'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['lastName'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('lastName')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="motherLastName">{{labelsGlobales.apellidoMaterno}}</label>
              <input type="text" pInputText required formControlName="motherLastName"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['motherLastName'].invalid}"
                oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="submitted && formRegistro.controls['motherLastName'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('motherLastName')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="identificationNumber">{{labelsGlobales.ci}}</label>
              <input type="text" pInputText required formControlName="identificationNumber"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['identificationNumber'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['identificationNumber'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('identificationNumber')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="cellPhoneNumber">{{labelsGlobales.celular}}</label>
              <input type="text" pInputText required formControlName="cellPhoneNumber"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['cellPhoneNumber'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['cellPhoneNumber'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('cellPhoneNumber')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="phoneNumber">{{labelsGlobales.telefono}}</label>
              <input type="text" pInputText formControlName="phoneNumber" />
            </div>

            <div class="form-group field">
              <label for="birthdate">{{labelsGlobales.fechaNacimiento}}</label>
              <p-calendar formControlName="birthdate" dateFormat="dd/mm/yy"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['birthdate'].invalid}">
              </p-calendar>
              <div *ngIf="submitted && formRegistro.controls['birthdate'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('birthdate')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="electronicMail">{{labelsGlobales.email}}</label>
              <input type="text" pInputText required formControlName="electronicMail"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['electronicMail'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['electronicMail'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('electronicMail')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <p-divider align="left">
              <div class="inline-flex align-items-center">
                <i class="pi pi-unlock mr-2"></i>
                <b>Datos de Usuario</b>
              </div>
            </p-divider>

            <div class="form-group field">
              <label for="username">{{labelsGlobales.username}}</label>
              <input type="text" pInputText required formControlName="username" value="" autocomplete="off"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['username'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['username'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('username')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="password">{{labelsGlobales.contrasenia}}</label>
              <input type="password" pInputText required formControlName="password" value="" autocomplete="new-password"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['password'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['password'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('password')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple [label]="botonesGlobales.cancel" icon="pi pi-times"
            class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false, 'edit')"></button>
          <button pButton pRipple [label]="botonesGlobales.save" icon="pi pi-check" class="p-button-rounded mr-2"
            (click)="onValidaFormulario()"></button>
        </ng-template>
      </p-dialog>
    </section>
    <!-- modal Editar -->
  </div>
</div>