<div class="container">
  <div class="card">
    <div class="row">
      <h3><b>{{componentTitle.mainTitle}}</b></h3>
    </div>
    <div class="row">
      <div style="display: flex; justify-content:flex-end; margin-bottom: 1rem;">
        <p-button icon="pi pi-refresh" [rounded]="true" (click)="getAllElectricStations()" pTooltip="Actualizar"
          tooltipPosition="left"></p-button> &nbsp;
        <button *ngIf="esSuperAdmin" pButton pRipple class="mat-raised-button"
          (click)="openDialog(true, false, 'crear')">Nuevo
          Registro</button>
      </div>
    </div>
    <div class="row">
      <p-table responsiveLayout="stack" #dt1 [value]="electricStations" dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" paginatorLocale="es-ES"
        currentPageReportTemplate="Mostrando {first} a {last} de {{totalRecords}} registros"
        (sortFunction)="customSort($event)" [customSort]="true" width="100%">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearFilters(dt1) ; getAllElectricStations()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:5%; text-align:center; vertical-align:middle" rowspan="2"> # </th>
            <th style="width:12%; text-align:center; vertical-align:middle" pSortableColumn="nameStation">
              Nombre<p-sortIcon field="nameStation"></p-sortIcon></th>
            <th style="width:20%; text-align:center; vertical-align:middle" pSortableColumn="direccion">
              Dirección<p-sortIcon field="direccion"></p-sortIcon></th>
            <th style="width:20%; text-align:center; vertical-align:middle" pSortableColumn="descripcion">
              Descripción<p-sortIcon field="descripcion"></p-sortIcon></th>
            <th style="width:8%; text-align:center; vertical-align:middle" pSortableColumn="latitude">
              Latitud<p-sortIcon field="latitude"></p-sortIcon></th>
            <th style="width:8%; text-align:center; vertical-align:middle" pSortableColumn="longitude">
              Longitud<p-sortIcon field="longitude"></p-sortIcon></th>
            <th style="width:12%; text-align:center; vertical-align:middle" rowspan="2" pSortableColumn="enabled">
              Estado<p-sortIcon field="enabled"></p-sortIcon></th>
            <th style="width:13%; text-align:center; vertical-align:middle" rowspan="2">Opciones</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'nameStation', 'contains')"
                placeholder="Busca por Nombre" class="w-full" [(ngModel)]="nameStation">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'direccion', 'contains')"
                placeholder="Busca por Dirección" class="w-full" [(ngModel)]="direccion">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'descripcion', 'contains')"
                placeholder="Busca por Descripción" class="w-full" [(ngModel)]="descripcion">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'latitude', 'contains')"
                placeholder="Busca por Latitud" class="w-full" [(ngModel)]="campoLatitude">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'longitude', 'contains')"
                placeholder="Busca por Longitud" class="w-full" [(ngModel)]="campoLongitude">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td style="text-align:center; vertical-align:middle">{{rowIndex + 1}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['nameStation']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['direccion']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['descripcion']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['latitude']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['longitude']}}</td>
            <td style="text-align:center; vertical-align:middle">
              <div *ngIf="esSuperAdmin">
                <p-confirmPopup>
                </p-confirmPopup>
                <button *ngIf="rowData['enabled']" pButton pRipple class="mat-raised-button"
                  (click)="confirm($event, rowData, false)">Habilitar</button>
                <p-button *ngIf="!rowData['enabled']" [outlined]="true" severity="secondary"
                  (click)="confirm($event, rowData, true)">Deshabilitar</p-button>
              </div>
              <div *ngIf="!esSuperAdmin">
                <label>{{rowData['enabled'] | formatHabilitadoDeshabilitado}}</label>
              </div>
            </td>
            <td style="text-align:center; vertical-align:middle">
              <i *ngIf="esSuperAdmin" class="pi pi-mobile" style="font-size: 1.5rem; color: var(--color-green);"
                data-bs-toggle="modal" (click)="onDialogConnector(rowData)" pTooltip="Adicionar Conector de Carga"
                tooltipPosition="bottom"></i> &nbsp;

              <i *ngIf="esSuperAdmin" class="pi pi-pencil" style="font-size: 1.5rem; color: var(--primary-color);"
                data-bs-toggle="modal" (click)="onSelecetedEdit(rowData)" pTooltip="Editar"
                tooltipPosition="bottom"></i> &nbsp;

              <i class="pi pi-map-marker" style="font-size: 1.5rem; color: var(--decorative-color);"
                data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onVerMapa(rowData);" pTooltip="Ver Mapa"
                tooltipPosition="bottom"></i> &nbsp;

              <i class="pi pi-eye" style="font-size: 1.5rem; color: var(--blue-600);" data-bs-toggle="modal"
                (click)="onDialogDetalles(rowData)" pTooltip="Ver Detalles" tooltipPosition="bottom"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="row">
      <div *ngIf="mapaVisible" class="map-modal">
        <app-mapa [lat]="latitude" [lon]="longitude" [titulo]="title" (newItemEvent)="cerrarMapa($event)"></app-mapa>
      </div>
    </div>

    <!-- modal Crear nuevo -->
    <div class="row">
      <p-dialog header={{titlesGlobales.create}} [(visible)]="dialogRegistro" [style]="{width: '50vw'}" class="p-fluid"
        [dismissableMask]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false"
        [resizable]="false">
        <ng-template pTemplate="content">
          <form class="row g-2" [formGroup]="formRegistro">
            <div class="form-group field">
              <label for="name">{{labelsGlobales.nameStation}}</label>
              <input type="text" pInputText id="nameStation" required formControlName="nameStation"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['nameStation'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['nameStation'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('nameStation')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="direccion">{{labelsGlobales.address}}</label>
              <input type="text" pInputText id="direccion" required formControlName="direccion"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['direccion'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['direccion'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('direccion')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="descripcion">{{labelsGlobales.description}}</label>
              <input type="text" pInputText id="descripcion" required formControlName="descripcion"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['descripcion'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['descripcion'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('descripcion')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="codeStationQr">{{labelsGlobales.codeStationQr}}</label>
              <input type="text" pInputText id="codeStationQr" required formControlName="codeStationQr"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['codeStationQr'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['codeStationQr'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('codeStationQr')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="descripcion">{{labelsGlobales.tasaCarga}}</label>
              <p-autoComplete [(ngModel)]="selectedCountry" [dropdown]="true" [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)" field="amount" id="chargeRate" formControlName="chargeRate"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['chargeRate'].invalid}"></p-autoComplete>
              <div *ngIf="submitted && formRegistro.controls['chargeRate'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('chargeRate')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="latitude">{{labelsGlobales.latitude}}</label>
              <input type="text" pInputText id="latitude" required formControlName="latitude"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['latitude'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['latitude'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('latitude')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="longitude">{{labelsGlobales.longitude}}</label>
              <input type="text" pInputText id="longitude" required formControlName="longitude"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['longitude'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['longitude'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('longitude')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple [label]="botonesGlobales.cancel" icon="pi pi-times"
            class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false, 'crear')"></button>
          <button pButton pRipple [label]="botonesGlobales.save" icon="pi pi-check" class="p-button-rounded mr-2"
            (click)="onValidaFormulario()"></button>
        </ng-template>
      </p-dialog>
    </div>
    <!-- modal Crear nuevo -->

    <!-- modal Editar Registro -->
    <div class="row">
      <p-dialog header={{titlesGlobales.edit}} [(visible)]="dialogEdit" [style]="{width: '50vw'}" class="p-fluid"
        [closeOnEscape]="true" [closable]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content">
          <form class="row g-2" [formGroup]="formRegistro">
            <div class="form-group field">
              <label for="name">{{labelsGlobales.nameStation}}</label>
              <input type="text" pInputText id="nameStation" required formControlName="nameStation"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['nameStation'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['nameStation'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('nameStation')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="direccion">{{labelsGlobales.address}}</label>
              <input type="text" pInputText id="direccion" required formControlName="direccion"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['direccion'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['direccion'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('direccion')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="descripcion">{{labelsGlobales.description}}</label>
              <input type="text" pInputText id="descripcion" required formControlName="descripcion"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['descripcion'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['descripcion'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('descripcion')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="codeStationQr">{{labelsGlobales.codeStationQr}}</label>
              <input type="text" pInputText id="codeStationQr" required formControlName="codeStationQr"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['codeStationQr'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['codeStationQr'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('codeStationQr')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="descripcion">{{labelsGlobales.tasaCarga}}</label>
              <p-autoComplete [(ngModel)]="selectedCountry" [dropdown]="true" [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)" field="amount" id="chargeRate" formControlName="chargeRate"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['chargeRate'].invalid}"></p-autoComplete>
              <div *ngIf="submitted && formRegistro.controls['chargeRate'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('chargeRate')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="latitude">{{labelsGlobales.latitude}}</label>
              <input type="text" pInputText id="latitude" required formControlName="latitude"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['latitude'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['latitude'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('latitude')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="longitude">{{labelsGlobales.longitude}}</label>
              <input type="text" pInputText id="longitude" required formControlName="longitude"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistro.controls['longitude'].invalid}" />
              <div *ngIf="submitted && formRegistro.controls['longitude'].invalid">
                <small class="p-error" *ngIf="formRegistro.get('longitude')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple [label]="botonesGlobales.cancel" icon="pi pi-times"
            class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false, 'editar')"></button>
          <button pButton pRipple [label]="botonesGlobales.save" icon="pi pi-check" class="p-button-rounded mr-2"
            (click)="onValidaFormulario()"></button>
        </ng-template>
      </p-dialog>
    </div>
    <!-- modal Editar Registro -->

    <!-- modal Adicionar Conector -->
    <div class="row">
      <p-dialog header={{titlesGlobales.createConnector}} [(visible)]="dialogConector" [style]="{width: '50vw'}"
        class="p-fluid" [dismissableMask]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content">
          <form class="row g-2" [formGroup]="formRegistroConector">

            <div class="form-group field">
              <label for="name">{{labelsGlobales.nombrePuerto}}</label>
              <input type="text" pInputText id="name" required formControlName="name"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistroConector.controls['name'].invalid}" />
              <div *ngIf="submitted && formRegistroConector.controls['name'].invalid">
                <small class="p-error" *ngIf="formRegistroConector.get('name')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="description">{{labelsGlobales.descripcionPuerto}}</label>
              <input type="text" pInputText id="description" required formControlName="description"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistroConector.controls['description'].invalid}" />
              <div *ngIf="submitted && formRegistroConector.controls['description'].invalid">
                <small class="p-error" *ngIf="formRegistroConector.get('description')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="maxAmperage">{{labelsGlobales.maximoAmperaje}}</label>
              <input type="number" pInputText id="maxAmperage" required formControlName="maxAmperage"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistroConector.controls['maxAmperage'].invalid}" />
              <div *ngIf="submitted && formRegistroConector.controls['maxAmperage'].invalid">
                <small class="p-error" *ngIf="formRegistroConector.get('maxAmperage')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="maxPower">{{labelsGlobales.maximaPotencia}}</label>
              <input type="number" pInputText id="maxPower" required formControlName="maxPower"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistroConector.controls['maxPower'].invalid}" />
              <div *ngIf="submitted && formRegistroConector.controls['maxPower'].invalid">
                <small class="p-error" *ngIf="formRegistroConector.get('maxPower')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>

            <div class="form-group field">
              <label for="maxVoltage">{{labelsGlobales.maximoVoltaje}}</label>
              <input type="number" pInputText id="maxVoltage" required formControlName="maxVoltage"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && formRegistroConector.controls['maxVoltage'].invalid}" />
              <div *ngIf="submitted && formRegistroConector.controls['maxVoltage'].invalid">
                <small class="p-error" *ngIf="formRegistroConector.get('maxVoltage')?.hasError('required')">
                  {{messagesGlobales.requiredField}}
                </small>
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple [label]="botonesGlobales.cancel" icon="pi pi-times"
            class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false, 'conector')"></button>
          <button pButton pRipple [label]="botonesGlobales.save" icon="pi pi-check" class="p-button-rounded mr-2"
            (click)="onValidaFormularioConector()"></button>
        </ng-template>
      </p-dialog>
    </div>
    <!-- modal Adicionar Conector -->

    <!-- modal Detalle Registro -->
    <div class="row">
      <p-dialog header={{titlesGlobales.detail}} [(visible)]="dialogDetalleRegistro" [style]="{width: '70vw'}"
        class="p-fluid" [closeOnEscape]="true" [closable]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [draggable]="false" [resizable]="false" [modal]="true">
        <ng-template pTemplate="content">
          <div class="row">
            <div class="grid">
              <div class="col-6" style="text-align: right;">
                <ul>
                  <p-divider align="right">
                    <div class="inline-flex align-items-center">
                      <i class="pi pi-user mr-2"></i>
                      <b>Datos Generales</b>
                    </div>
                  </p-divider>
                  <li>
                    <i class="pi pi-align-justify" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Nombre Estación: </b>
                  </li>
                  <li>
                    <i class="pi pi-map" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Dirección: </b>
                  </li>
                  <li>
                    <i class="pi pi-map" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Marca: </b>
                  </li>
                  <li>
                    <i class="pi pi-mobile" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Modelo Electrolinera:</b>
                  </li>
                  <li>
                    <i class="pi pi-hashtag" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Código Modelo Electrolinera: </b>
                  </li>
                  <li>
                    <i class="pi pi-hashtag" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Número de Serie de la electrolinera: </b>
                  </li>
                  <li>
                    <i class="pi pi-hashtag" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Número de Serie del medidor: </b>
                  </li>
                  <li>
                    <i class="pi pi-hashtag" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Version de Firmware: </b>
                  </li>
                  <li>
                    <i class="pi pi-hashtag" style="color: var(--primary-color)"></i> &nbsp;
                    <b>iccid: </b>
                  </li>
                  <li>
                    <i class="pi pi-hashtag" style="color: var(--primary-color)"></i> &nbsp;
                    <b>imsi: </b>
                  </li>
                  <li>
                    <i class="pi pi-qrcode" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Código QR: </b>
                  </li>
                  <li>
                    <i class="pi pi-info-circle" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Descripción:</b>
                  </li>
                  <li>
                    <i class="pi pi-map-marker" style="color: var(--primary-color)"></i> &nbsp;
                    <b>latitude:</b>
                  </li>
                  <li>
                    <i class="pi pi-map-marker" style="color: var(--primary-color)"></i> &nbsp;
                    <b>longitude:</b>
                  </li>
                  <li>
                    <i class="pi pi-sort-alt" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Tasa de Carga: </b>
                  </li>
                  <li>
                    <i class="pi pi-qrcode" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Imagen QR: </b>
                  </li>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <p-divider align="right">
                    <div class="inline-flex align-items-center">
                      <i class="pi pi-user mr-2"></i>
                      <b>Datos en Linea</b>
                    </div>
                  </p-divider>
                  <li>
                    <i class="pi pi-qrcode" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Id de la Marca: </b>
                  </li>
                  <li>
                    <i class="pi pi-qrcode" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Id Mensaje: </b>
                  </li>
                  <li>
                    <i class="pi pi-qrcode" style="color: var(--primary-color)"></i> &nbsp;
                    <b>Dato: </b>
                  </li>
                </ul>
              </div>
              <div class="col-6" style="text-align: left;">
                <ul>
                  <li>
                    <p-divider></p-divider>
                  </li>
                  <li><label>{{electricStation.nameStation}}</label></li>
                  <li><label>{{electricStation.direccion}}</label></li>
                  <li><label>Marca de la Electrolinera</label></li>
                  <li><label>{{electricStation.modelModelCode}}</label></li>
                  <li><label>{{electricStation.modelVendor}}</label></li>
                  <li><label>Numero de serie</label></li>
                  <li><label>serie del medidor</label></li>
                  <li><label>Version de Firmware</label></li>
                  <li><label>iccid</label></li>
                  <li><label>imsi</label></li>
                  <li><label>{{electricStation.codeStationQR}}</label></li>
                  <li><label>electricStation.descripcion</label></li>
                  <li><label>electricStation.latitude</label></li>
                  <li><label>electricStation.longitude</label></li>
                  <li><label>electricStation.chargeRate.amount</label></li>
                  <li>
                    <img [src]="imagenQR" alt="Converted Image" />
                  </li>
                  <li>
                    <p-divider></p-divider>
                  </li>
                  <li><label>id de la marca</label></li>
                  <li><label>id mensaje</label></li>
                  <li><label>dato</label></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card">
              <p-table [value]="electricStation.chargingConnectors" [tableStyle]="{ 'min-width': '50rem' }"
                responsiveLayout="stack">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Max Voltaje (V)</th>
                    <th>Max Potencia (kW)</th>
                    <th>Max Amperaje (A)</th>
                    <th>Estado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.maxVoltage }}</td>
                    <td>{{ item.maxPower }}</td>
                    <td>{{ item.maxAmperage }}</td>
                    <p-button *ngIf="item.statusName == 'DISPONIBLE'" label="Disponible" [raised]="true"
                      severity="success"></p-button>
                    <p-button *ngIf="item.statusName == 'OCUPADO'" label="Ocupado" [raised]="true"
                      severity="warning"></p-button>
                    <p-button *ngIf="item.statusName == 'BLOQUEADO'" label="Bloqueado" [raised]="true"
                      severity="danger"></p-button>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-secondary p-button-rounded mr-2"
            (click)="openDialog(false,false, 'detalle')"></button>
        </ng-template>
      </p-dialog>
    </div>
    <!-- modal Detalle Registro -->

  </div>
</div>