.my-card-container {
  // width: 100%;
}

@media (min-width: 768px) {
  .my-card-container {
    width: 99%;
    /* Ajusta el ancho en pantallas más grandes */
    margin: 0 auto;
    /* Centra el card */
  }
}

@media (min-width: 1200px) {
  .my-card-container {
    width: 99%;
    /* Ajusta el ancho en pantallas aún más grandes */
  }
}
.tab-panel-scroll {
  // background-color: red;
  padding: 5px;
  box-sizing: border-box;
  overflow-x: auto;    /* scroll horizontal solo si el contenido es más ancho */
  overflow-y: hidden;  /* evita scroll vertical */
  max-width: 90vw;
  // max-width: 100%;
}