.my-card-container {
  width: 100%;
}

@media (min-width: 768px) {
  .my-card-container {
    width: 99%;
    /* Ajusta el ancho en pantallas más grandes */
    margin: 0 auto;
    /* Centra el card */
  }
}

@media (min-width: 1200px) {
  .my-card-container {
    width: 99%;
    /* Ajusta el ancho en pantallas aún más grandes */
  }
}