<div>
  <p-card>
    <div class="row">
      <h3><b>{{tituloComponente.mainTitle}}</b></h3>
    </div>

    <div class="row p-0">
      <p-card header="" subheader="" class="p-0">
        
        <div class="grid p-0 justify-content-center">
          
          <div class="col-12 md:col-6 lg:col-4 text-center" *ngIf="reporteSeleccionado?.nombre != 'Set42 - Datos mensuales de electrolineras'">
            <div class="flex flex-column align-items-center justify-content-center">
                <label class="mb-2 font-bold">Rango de fechas:</label>
                <p-calendar [(ngModel)]="rangeDates" 
                            selectionMode="range" 
                            [readonlyInput]="true" 
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            [style]="{'width':'100%'}"> </p-calendar>
            </div>
          </div>

        </div>
      </p-card>
    </div>
    <br>

  <div class="grid m-0 p-0">
      <div class="card flex justify-content-center col-12 lg:col-4 md:col-6 sm:col-12"
        *ngFor="let reporte of tiposReportes">
        
        <p-card [header]="reporte.nombre" 
                class="card-interactiva" 
                [class.card-seleccionado]="reporte === reporteActivoVisual"
                [style]="{ width: '360px', cursor: 'pointer' }" 
                (click)="descargarDesdeCard(reporte)">
          
          <ng-template pTemplate="header">
            <img [alt]="reporte.nombre" 
                 [src]="reporte.imagen" 
                 style="height: 200px; object-fit: cover;" 
                 onerror="this.src='https://primefaces.org/cdn/primeng/images/card-ng.jpg';" />
          </ng-template>

        </p-card>

      </div>
    </div>
    
    <div class="row p-0">
      </div>
    <div>
        </div>

  </p-card>
</div>
<p-toast></p-toast>