<div class="container">
  <p-card [style]="{ width: '100%' }">

    <div class="row">
      <h3><b>{{tituloComponente.mainTitle}}</b></h3>
    </div>

    <div class="row">
      <p-card header="" subheader="">
        <ng-template pTemplate="header">
          <p-toolbar>
            <div class="p-toolbar-group-start">
              <p>Filtros</p>
            </div>
            <div class="p-toolbar-group-end">
            </div>
          </p-toolbar>
        </ng-template>
        <div class="form-group field">
          <div class="row">
            <div class="grid">
              <div class="col">
                <label>Rango de fechas: &nbsp;</label>
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" dateFormat="dd/mm/yy"
                  [showIcon]="true"></p-calendar>
                  <!-- para deshabilitar el calendar si es reporte 8 -->
                  <!-- [disabled]="reporteSeleccionado?.nombre == 'Datos de operación en electrolinera'" -->
              </div>
              <div class="col">
                <label>Seleccione Reporte: &nbsp;</label>
                <p-autoComplete [(ngModel)]="reporteSeleccionado" [suggestions]="coincidenciasFiltro"
                  (completeMethod)="filtraReporte($event)" field="nombre" [dropdown]="true"
                  placeholder="Buscar Reporte">
                </p-autoComplete>
              </div>
              <div class="col">
                <label>&nbsp;</label>
                <!-- TODO boton que no restrinja al reporte 8 -->
                <p-button label="Generar Vista Previa" icon="pi pi-filter"
                  [disabled]="rangeDates == undefined || !reporteSeleccionado" (click)="onAdicionaTabs()"></p-button>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="row">
      <div class="col"></div>
    </div>

    <div class="row" style="width: 100%;">
      <p-card [style]="{ width: '100%' }">

        <ng-template pTemplate="header">
          <p-toolbar>
            <div class="p-toolbar-group-start">
              <p>Vista Previa</p>
            </div>
            <div class="p-toolbar-group-end">
            </div>
          </p-toolbar>
        </ng-template>
        <p-tabView (onChange)="onTabChange($event)" [(activeIndex)]="activeIndex" [scrollable]="true">
          <p-tabPanel *ngFor="let tab of tabs; index as i" [header]="tab.title | truncate" [closable]="true" >

            <ng-container *ngIf="showReport === 'x reporte'">
              <app-table-report-simple [tab]="tab" [tipoReporte]="reporteSeleccionado"
                (datosEnviados)="cambiaEstadoTab($event, i)"></app-table-report-simple>
            </ng-container>
            <!-- 3 -->
            <ng-container *ngIf="showReport === 'crédito relacionado suministro energía'">
              <app-table-factura-relacionada [tab]="tab"
                (datosEnviados)="cambiaEstadoTab($event, i)"></app-table-factura-relacionada>
            </ng-container>
            <!-- 6 -->
            <ng-container *ngIf="showReport === 'Facturas de compras por cliente'">
              <app-table-transacciones-cliente [tab]="tab"
                (datosEnviados)="cambiaEstadoTab($event, i)"></app-table-transacciones-cliente>
            </ng-container>

            <!-- 7 -->
            <ng-container *ngIf="showReport === 'Facturas de cargas por cliente'">
              <app-table-suministro-cliente [tab]="tab"
                (datosEnviados)="cambiaEstadoTab($event, i)"></app-table-suministro-cliente>
            </ng-container>

            <!-- 8 -->
            <ng-container *ngIf="showReport === 'Set42 - Datos mensuales de electrolineras'">
              <app-table-report-operacion [tab]="tab"
                (datosEnviados)="cambiaEstadoTab($event, i)"></app-table-report-operacion>
            </ng-container>

            <!-- 9 -->
            <ng-container *ngIf="showReport === 'Cargas de clientes por bloques'">
              <app-table-report-consumo [tab]="tab"
                (datosEnviados)="cambiaEstadoTab($event, i)"></app-table-report-consumo>
            </ng-container>

          </p-tabPanel>
        </p-tabView>

      </p-card>
    </div>

    <div class="row">
      <div class="col"></div>
    </div>
  </p-card>
</div>

<p-toast></p-toast>