/* SIDEBAR ADAPTABLE */
.p-panelmenu {
    background: transparent !important;
    padding: 0 10px;

    .p-panelmenu-panel {
        /* Cambiamos blanco fijo por variable de superficie */
        background: var(--surface-card) !important; 
        border: 1px solid var(--surface-border) !important;
        border-radius: 8px !important;
        margin-bottom: 0.4rem !important;
        transition: all 0.2s;
    }

    .p-menuitem-text {
        /* Cambiamos azul fijo por variable de texto */
        color: var(--text-color) !important; 
        font-weight: 600 !important;
    }

    .p-menuitem-icon {
        /* Usamos el color primario del tema (Azul en claro, Celeste en oscuro) */
        color: var(--primary-color) !important; 
        font-size: 1.5rem !important;
    }

    /* Títulos como "ADMINISTRACIÓN PARAMÉTRICAS" */
    .p-disabled .p-menuitem-text {
        color: #cf7a30 !important; /* Mantenemos el naranja ENDE */
        font-weight: 800 !important;
    }

    /* Hover que se adapta al tema */
    .p-panelmenu-header:not(.p-disabled) > a:hover {
        background: var(--surface-hover) !important;
    }
}

/* Ajuste para el logo en modo oscuro */
.logo-container {
    background: transparent !important;
}/* SIDEBAR ADAPTABLE */
.p-panelmenu {
    background: transparent !important;
    padding: 0 10px;

    .p-panelmenu-panel {
        /* Cambiamos blanco fijo por variable de superficie */
        background: var(--surface-card) !important; 
        border: 1px solid var(--surface-border) !important;
        border-radius: 8px !important;
        margin-bottom: 0.4rem !important;
        transition: all 0.2s;
    }

    .p-menuitem-text {
        /* Cambiamos azul fijo por variable de texto */
        color: var(--text-color) !important; 
        font-weight: 600 !important;
    }

    .p-menuitem-icon {
        /* Usamos el color primario del tema (Azul en claro, Celeste en oscuro) */
        color: var(--primary-color) !important; 
        font-size: 1.5rem !important;
    }

    /* Títulos como "ADMINISTRACIÓN PARAMÉTRICAS" */
    .p-disabled .p-menuitem-text {
        color: #cf7a30 !important; /* Mantenemos el naranja ENDE */
        font-weight: 800 !important;
    }

    /* Hover que se adapta al tema */
    .p-panelmenu-header:not(.p-disabled) > a:hover {
        background: var(--surface-hover) !important;
    }
}

/* Ajuste para el logo en modo oscuro */
.logo-container {
    background: transparent !important;
}