<!-- Reporte simple, reportes 1,2,4,5 -->
<p-table responsiveLayout="stack" *ngIf="componenteVisible" [columns]="cols" [value]="reporte" [tableStyle]="{'min-width': '50rem'}" width="100%"
class="custom-p-table">
<ng-template pTemplate="caption">
  <p-button icon="pi pi-fw pi-file-excel" (click)="descargaArchivo()" [rounded]="true" [text]="true"
    [raised]="true" severity="success">
  </p-button> &nbsp;
  <label (click)="descargaArchivo()"><b>Descargar {{numeroReporte}} de {{tab.content.initialDate}} a {{tab.content.finalDate}}</b></label>
</ng-template>
<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns">
      {{ col.header }}
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr>
    <td *ngFor="let col of columns" [class]="[col.field == 'amount' || col.field == 'monto'?'numero' : 'normal']">

      <div *ngIf="col.field != 'amount' && col.field != 'monto' && col.field != 'finisheAt' && col.field != 'staredChargingAt'">
        {{rowData[col.field]}}
      </div>

      <div *ngIf="col.field == 'amount' || col.field == 'monto'" style="text-align:right; vertical-align:middle">
        {{ rowData[col.field] | numberDecimal:2}}
      </div>

      <div *ngIf="col.field === 'finisheAt' || col.field === 'staredChargingAt'">
        {{ rowData[col.field] | formatDateAndTime}}
      </div>
    </td>
  </tr>
</ng-template>
</p-table>
<!-- Reporte simple, reportes 1,2,4,5 -->
