.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--dark-primary-color);
    color: var(--color-black);
    padding: 1rem
 }

 a {
    color: var(--text-color);
 }
