/* Aplicar la fuente que pediste a todo el componente */
:host {
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
}

$ende-blue-dark: #0a3364; /* Tu color azul exacto */
$online-green: #10b981;
$offline-red: #ef4444;

.modern-card {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
  overflow: hidden;
  border-top-width: 8px !important;

  &.border-online { border-top-color: $online-green !important; }
  &.border-offline { border-top-color: $offline-red !important; }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }
}

.icon-circle {
  background: $ende-blue-dark;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-list {
  list-style: none;
  padding: 0;
  li {
    padding: 8px 0;
    border-bottom: 1px solid #f3f4f6;
    color: #4b5563;
    font-size: 0.9rem;
    
    b { color: $ende-blue-dark; } /* Los títulos de los datos en azul */
    i { color: $ende-blue-dark; opacity: 0.8; }
  }
}

.ports-box {
  background: #f9fafb;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #f3f4f6;
}

/* Botón con tu color azul */
::ng-deep .p-button.p-button-raised {
    background: $ende-blue-dark !important;
    border-color: $ende-blue-dark !important;
}

.siat-title {
    color: #0a3364; /* Tu azul exacto */
    font-weight: 850; /* Extra bold */
    font-size: 2.5rem;
    letter-spacing: -1px;
}

.siat-subtitle {
    color: #64748b; /* Gris del SIAT */
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: -5px;
}