<p-toast></p-toast>
<p-dialog
  [(visible)]="dialog"
  header="Eliminar registro"
  [modal]="true"
  [style]="{ width: '450px' }"
>
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="object"
      >Se eliminará el registro seleccionado
      <strong> {{ valueMessage }}. </strong>¿Estas seguro de esta acción?</span
    >
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      icon="pi pi-times"
      class="p-button-secondary p-button-rounded mr-2"
      label="No"
      (click)="dialog = false"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-check"
      class="p-button-rounded mr-2"
      label="Si"
      (click)="confirmDelete()"
    ></button>
  </ng-template>
</p-dialog>
