<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="start">
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
    </ng-template>
    <ng-template pTemplate="center">
        <p-tabMenu [model]="items" [activeItem]="activeItem"
            (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
    </ng-template>
    <ng-template pTemplate="end">
        <button pButton pRipple icon="pi pi-power-off" (click)="salir()" class="mr-2" pTooltip="Salir"
            tooltipPosition="bottom"></button>
    </ng-template>
</p-toolbar>

<p-sidebar [(visible)]="sidebarVisible" [showCloseIcon]="true">
    <ng-template pTemplate="header">
        MENÚ
    </ng-template>
    <ng-template pTemplate="content">
        <p-menu [model]="itemsLateral" (click) = "activeMenu($event)"></p-menu>
    </ng-template>
    <!-- <ng-template pTemplate="footer">Footer Content</ng-template> -->
</p-sidebar>