<div>
  <!-- Aquí va el contenido de tu página cuando el loading termine -->
  <div class="container">
    <div class="card" *ngIf="serviceResponse">

      <div class="row">
        <h3><b>ELECTROLINERA {{electricStation.nameStation}}</b></h3>
        <!-- <div style="display: flex; justify-content:flex-end; margin-bottom: 1rem;">
          <p-button icon="pi pi-refresh" [rounded]="true" (click)="getOneElectricStation()" pTooltip="Actualizar"
            tooltipPosition="left"></p-button>
        </div> -->
        <div class="c">
          <p-button icon="pi pi-key" [rounded]="true" (click)="dialogPassword()" pTooltip="Botones de Emergencia"
            tooltipPosition="left"></p-button>
          <p>Botones de Emergencia</p>
          <p-button icon="pi pi-refresh" [rounded]="true" (click)="getOneElectricStation()" pTooltip="Actualizar"
            tooltipPosition="left"></p-button>
          <p>Actualizar</p>
        </div>
        <!-- <p-button icon="pi pi-key" [rounded]="true" (click)="getOneElectricStation()" pTooltip="Actualizar"
        tooltipPosition="left"></p-button>
      <p> Ver Detalles</p> -->
      </div>

      <div class="claseDelDiv">
      </div>

      <div class="row">
        <div class="card">
          <p-table *ngIf="componenteVisible" [value]="electricStation.chargingConnectors"
            [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:16%; text-align:center; vertical-align:middle">Nombre</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Max Voltaje (V)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Max Amperaje (A)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Velocidad de Carga (kW)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Corriente Actual (A)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Potencia Actual (kW)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Carga Energía (Wh)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Cliente en Carga</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Estado</th>
                <th style="width:10%; text-align:center; vertical-align:middle">
                  Opciones
                  <i class="pi pi-times" *ngIf="habilitaMasOpciones" (click)="confirmarCerrarOpciones($event)"></i>
                  <p-confirmPopup></p-confirmPopup>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.name }}</td>
                <td style="text-align:center; vertical-align:middle">230</td>
                <td style="text-align:right; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[0].value}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[0].value}}</label>
                  <label *ngIf="item.lastState == 'Available'">0</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'"
                    [ngStyle]="{'color': conector1[3]?.phases}">{{conector1[3].measurand}}</label>
                  <label *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'"
                    [ngStyle]="{'color': conector2[3]?.phases}">{{conector2[3].measurand}}</label>
                  <label *ngIf="item.lastState == 'Available'">-</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[1].value |
                    numberDecimal:2}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[1].value |
                    numberDecimal:2}}</label>
                  <label *ngIf="item.lastState == 'Available'">0.00</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[4].value |
                    numberDecimal:3}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[4].value |
                    numberDecimal:3}}</label>
                  <label *ngIf="item.lastState == 'Available'">0.000</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[2].value}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[2].value}}</label>
                  <label *ngIf="item.lastState == 'Available'">0</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label *ngIf="cliente1.userName != '-' || cliente2.userName != '-'"></label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{cliente1.userName}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{cliente2.userName}}</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <button pButton *ngIf="item.lastState == 'Available'" label="Disponible"
                    class="button-available"></button>
                  <button pButton *ngIf="item.lastState == 'Preparing'" label="Preparando"
                    class="button-preparing"></button>

                  <div class="div" *ngIf="item.lastState == 'Charging'">
                    <button pButton *ngIf="item.lastState == 'Charging'" label="Cargando" class="button-charging">
                    </button>
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                  </div>

                  <button pButton *ngIf="item.lastState == 'Finishing'" label="Terminando"
                    class="button-finishing"></button>
                  <button pButton *ngIf="item.lastState == 'Unavailable'" label="No disponible"
                    class="button-unavailable"></button>
                  <button pButton *ngIf="!item.lastState" label="No disponible" class="button-unavailable"></button>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <!-- <button pButton label="Detener" class="button-stop"></button> <br>
                  <button Button label="Interrumpir" class="button-stop"></button> -->
                  <div *ngIf="!item.lastState">
                    <label>-</label>
                  </div>
                  <div *ngIf="item.lastState">
                    <!-- CASO1 -->
                    <i class="pi pi-stop-circle" style="color: var(--color-detener); font-size: 1.5rem"
                      pTooltip="Detener la carga de Usuario" (click)="onDetieneCargaPorUsuario($event, item)"
                      *ngIf="item.name == 'CONECTOR DE CARGA 1' && (item.lastState != 'Available' && item.lastState != 'Unavailable')">
                    </i> &nbsp;

                    <i class="pi pi-stop-circle" style="color: var(--color-detener); font-size: 1.5rem"
                      pTooltip="Detener la carga de Usuario" (click)="onDetieneCargaPorUsuario($event, item)"
                      *ngIf="item.name == 'CONECTOR DE CARGA 2' && (item.lastState != 'Available' && item.lastState != 'Unavailable')">
                    </i> &nbsp;
                  </div>
                  <p-confirmPopup></p-confirmPopup>

                  <!-- CASO3 -->
                  <!-- <i class="pi pi-times" *ngIf="habilitaMasOpciones && item.lastState != 'Available'" -->
                  <i class="pi pi-times" *ngIf="habilitaMasOpciones && item.lastState != 'Available'"
                  style="color: var(--color-interrumpir); font-size: 1.5rem"
                  pTooltip="Detener la carga de Electrolinera" (click)="onDetieneCargaElectrolinera(item)"></i> &nbsp;
                  
                  <!-- CASO3 -->
                  <i class="pi pi-history" *ngIf="item.lastState != 'Available'"
                    style="color: var(--color-interrumpir); font-size: 1.5rem"
                    pTooltip="Desconectar Usuario Electrolinera" (click)="onDesvinculaUsuarioElectrolinera(item)"></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="c">
        <p-button icon="pi pi-eye" [rounded]="true" (click)="cambiaEstado()" pTooltip="Ver Detalles"
          tooltipPosition="left"></p-button>
        <p> Ver Detalles</p>
      </div>

      <div class="card" *ngIf="detalle">
        <div class="row claseDelDiv">
          <div class="grid transp">
            <div class="col-6" style="text-align: right;">
              <ul>
                <li style="color: var(--primary-color-text)"><i class="pi pi-align-justify"></i> &nbsp; <b>Nombre: </b>
                </li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-map-marker"></i> &nbsp; <b>Dirección: </b>
                </li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-qrcode"></i> &nbsp; <b>Código QR: </b></li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-qrcode"></i> &nbsp; <b>Código OCPP: </b>
                </li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-file"></i> &nbsp; <b>Modelo Código: </b>
                </li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-flag"></i> &nbsp; <b>Modelo Vendor: </b>
                </li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-eye"></i> &nbsp; <b>Visibilidad de la
                    Electrolinera: </b></li>
                <li style="color: var(--primary-color-text)"><i class="pi pi-image"></i> &nbsp; <b>Imagen QR: </b></li>
              </ul>
            </div>
            <div class="col-6" style="text-align: left;">
              <ul>
                <li style="color: var(--primary-color-text)"><label>{{electricStation.nameStation}}</label></li>
                <li style="color: var(--primary-color-text)"><label>{{electricStation.direccion}}</label></li>
                <li style="color: var(--primary-color-text)"><label>{{electricStation.codeStationQR}}</label></li>
                <li style="color: var(--primary-color-text)"><label>{{electricStation.idChargingStationOcpp}}</label>
                </li>
                <li style="color: var(--primary-color-text)"><label [pTooltip]="electricStation.modelModelCode"
                    tooltipPosition="bottom">{{electricStation.modelModelCode | truncate:15}}</label></li>
                <li style="color: var(--primary-color-text)"><label>{{electricStation.modelVendor}}</label></li>
                <li style="color: var(--primary-color-text)">
                  <p-confirmPopup></p-confirmPopup>
                  <p-inputSwitch [(ngModel)]="electricStation.visibility"
                    (onChange)="confirmSwitchChange($event, electricStation)"></p-inputSwitch>
                </li>
                <li><img [src]="imagenQR" alt="Converted Image" /></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <p-dialog header="Confirmar Password" [(visible)]="visibleDialogPassword" [modal]="true" [style]="{ width: '50vw' }"
      [draggable]="false" [resizable]="false">
      <ng-template pTemplate="header">
        <span class="text-xl font-bold">Confirmar Password</span>
      </ng-template>

      <div class="card flex justify-content-center">
        <input type="password" pInputText id="inputPassword" name="password" placeholder="Contraseña"
          [(ngModel)]="value" />
      </div>

      <ng-template pTemplate="footer">
        <p>Para habilitar mas acciones a los conectores</p>
        <p-button icon="pi pi-check" (click)="validaformulariodialog()" label="Ok"
          styleClass="p-button-text"></p-button>
      </ng-template>

    </p-dialog>

    <div *ngIf="!serviceResponse">
      <app-not-found [mensajeNotFound]="mensaje" (datosEnviados)="getOneElectricStation()"></app-not-found>
      <br> <br>
    </div>

  </div>
</div>

<p-toast></p-toast>
<p-blockUI [blocked]="loading">
  <div class="loading-container">
    <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
    <p>Cargando...</p>
  </div>
</p-blockUI>