<p-confirmDialog
  [style]="{width: '50vw'}"></p-confirmDialog><!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
<div>
  <!-- Aquí va el contenido de tu página cuando el loading termine -->
  <div class="container">
    <div class="card" *ngIf="serviceResponse">

      <div class="row">
        <h3><b>ELECTROLINERA {{electricStation.nameStation}}</b></h3>
        <div class="alineacion">
          <div class="button-container" *ngIf="!esSuperAdmin">
            <button pButton icon="pi pi-exclamation-triangle" (click)="dialogPassword()"
              pTooltip="Botones de Emergencia" tooltipPosition="left" class="button-especial"></button>
            <p>Detención de Emergencia</p>
          </div>
          <div class="button-container">
            <p-button icon="pi pi-refresh" [rounded]="true" (click)="getOneElectricStation()" pTooltip="Actualizar"
              tooltipPosition="left"></p-button>
            <p>Actualizar</p>
          </div>
        </div>
      </div>

      <div class="claseDelDiv">
      </div>

      <div class="row mb-3">
        <div class="card">
          <p-table *ngIf="componenteVisible" [value]="electricStation.chargingConnectors"
            [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:7%; text-align:center; vertical-align:middle">Nombre</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Max Voltaje (V)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Max Amperaje (A)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Velocidad de Carga</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Corriente Actual (A)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Potencia Actual (kW)</th>
                <th style="width:7%; text-align:center; vertical-align:middle">Carga Energía (Wh)</th>
                <th style="width:10%; text-align:center; vertical-align:middle">Cliente en Carga</th>
                <th style="width:16%; text-align:center; vertical-align:middle">Estado</th>
                <th style="width:16%; text-align:center; vertical-align:middle">
                  Opciones &nbsp;
                  <!-- <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"></p-button> -->
                  <i class="pi pi-times" *ngIf="habilitaMasOpciones" (click)="confirmarCerrarOpciones($event)"
                    style="color: var(--color-especial); font-size: 1rem"></i>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.name }}</td>
                <td style="text-align:center; vertical-align:middle">230</td>
                <td style="text-align:right; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[0].value}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[0].value}}</label>
                  <label *ngIf="item.lastState == 'Available'">0</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'"
                    [ngStyle]="{'color': conector1[4]?.phases}">{{conector1[4].measurand}}</label>
                  <label *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'"
                    [ngStyle]="{'color': conector2[4]?.phases}">{{conector2[4].measurand}}</label>
                  <label *ngIf="item.lastState == 'Available'">-</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[1].value |
                    numberDecimal:2}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[1].value |
                    numberDecimal:2}}</label>
                  <label *ngIf="item.lastState == 'Available'">0.00</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[5].value |
                    numberDecimal:3}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[5].value |
                    numberDecimal:3}}</label>
                  <label *ngIf="item.lastState == 'Available'">0.000</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{conector1[2].value}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{conector2[2].value}}</label>
                  <label *ngIf="item.lastState == 'Available'">0</label>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <label *ngIf="cliente1.userName != '-' || cliente2.userName != '-'"></label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 1' && item.lastState != 'Available'">{{cliente1.userName}}</label>
                  <label
                    *ngIf="item.name == 'CONECTOR DE CARGA 2' && item.lastState != 'Available'">{{cliente2.userName}}</label>
                </td>
                <td style="text-align:center; vertical-align:middle">

                  <button pButton *ngIf="item.lastState == 'Available'" label="Disponible" class="button-available" size="small"></button>
                  <button pButton *ngIf="item.lastState == 'Preparing'" label="Preparando" class="button-preparing"></button>
                  <div class="div" *ngIf="item.lastState == 'Charging'">
                    <button pButton *ngIf="item.lastState == 'Charging'" label="Cargando" class="button-charging">
                    </button>
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                  </div>
                  <button pButton *ngIf="item.lastState == 'Finishing'" label="Terminando"
                    class="button-finishing"></button>
                  <button pButton *ngIf="item.lastState == 'Unavailable'" label="No disponible"
                    class="button-unavailable"></button>
                  <button pButton *ngIf="!item.lastState" label="No disponible" class="button-unavailable"></button>
                  <button pButton *ngIf="item.lastState == 'SuspendedEV'" label="Carga completa"
                    class="button-unavailable"></button>
                  <button pButton *ngIf="item.lastState == 'SuspendedEVSE'" label="Verificando"
                    class="button-suspended"></button>
                  <button pButton *ngIf="item.lastState == 'Reserved'" label="Reservado"
                    class="button-reservado"></button>
                  <button pButton *ngIf="item.lastState == 'Faulted'" label="Con Error"
                    class="button-unavailable"></button>
                  <button pButton *ngIf="item.lastState == 'Offline'" label="Desconectado"
                    class="button-unavailable"></button>
                </td>
                <td style="text-align:center; vertical-align:middle">
                  <div *ngIf="!item.lastState">
                    <label>-</label>
                  </div>
                  <div *ngIf="item.lastState">
                    <!-- CASO1 -->
                    <div class="mb-2">
                      <p-button label="Detener la carga del usuario" size="small"
                        styleClass="color: var(--color-detener); font-size: 1.5rem"
                        (click)="onDetieneCargaPorUsuario($event, item)"
                        *ngIf="item.lastState != 'Unavailable'"></p-button>
                    </div>
                    <!-- CASO2 --><!-- CASO3 -->
                    <div class="flex justify-content-center" *ngIf="habilitaMasOpciones || esSuperAdmin">
                      <p-toast></p-toast>
                      <p-splitButton label="Mas Opciones" (onDropdownClick)="itemSeleccionado(item)" [model]="items"
                        appendTo="body" styleClass="p-button-sm mr-2 mb-2 button-especial"></p-splitButton>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="alineacion">
        <div class="button-container">
          <p-button icon="pi pi-eye" [rounded]="true" (click)="cambiaEstado()" pTooltip="Ver Detalles"
            tooltipPosition="left"></p-button>
          <p> Ver Detalles</p>
        </div>
      </div>


      <div class="card" *ngIf="detalle">
        <div class="surface-section">
          <div class="font-medium text-3xl mb-3" style="color: var(--primary-color-text)">Mas Información</div>
          <ul class="list-none p-0 m-0">
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Nombre</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.nameStation}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Dirección</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.direccion}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Código QR</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.codeStationQR}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Código OCPP</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.idChargingStationOcpp}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Modelo Código</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.modelModelCode}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Modelo Vendor</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.modelVendor}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Visibilidad de la Electrolinera</div>
              <div class="w-full md:w-8 md:flex-order-0 flex-order-1" style="color: var(--primary-color-text)">
                {{electricStation.visibility | formatSiNo}}</div>
              <div class="w-6 md:w-2 flex justify-content-end">
                <p-inputSwitch [(ngModel)]="electricStation.visibility"
                  (onChange)="confirmSwitchChange($event, electricStation)"></p-inputSwitch>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Imagen QR</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><img [src]="imagenQR"
                  alt="Converted Image" /></div>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <p-dialog header="Confirmar Password" [(visible)]="visibleDialogPassword" [modal]="true" [style]="{ width: '50vw' }"
      [draggable]="false" [resizable]="false">
      <ng-template pTemplate="header">
        <span class="text-xl font-bold">Confirmar Password</span>
      </ng-template>

      <div class="card flex justify-content-center">
        <input type="password" pInputText id="inputPassword" name="password" placeholder="Contraseña"
          [(ngModel)]="value" />
      </div>

      <ng-template pTemplate="footer">
        <p>Solicitar contraseña al administrador</p>
        <p-button icon="pi pi-check" (click)="validaformulariodialog()" label="Ok"
          styleClass="p-button-text"></p-button>
      </ng-template>

    </p-dialog>

    <div *ngIf="!serviceResponse">
      <app-not-found [mensajeNotFound]="mensaje" (datosEnviados)="getOneElectricStation()"></app-not-found>
      <br> <br>
    </div>

  </div>
</div>

<p-toast></p-toast>
<p-blockUI [blocked]="loading">
  <div class="loading-container">
    <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
    <p>Cargando...</p>
  </div>
</p-blockUI>