#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor>div {
  width: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 0;
}

.claseDelDiv {
  background-image: url("../../../assets/img/woman-charging-car-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.transp {
  background-color: var(--color-11);
}

.button-available {
  background-color: var(--color-available);
  border-color: var(--color-available);
  color: white;
}

.button-preparing {
  background-color: var(--color-preparing);
  border-color: var(--color-preparing);
  color: white;
}

.button-finishing {
  background-color: var(--color-finishing);
  border-color: var(--color-finishing);
  color: white;
}

.button-charging {
  background-color: var(--color-charging);
  border-color: var(--color-charging);
  color: white;
}

.button-unavailable {
  background-color: var(--color-unavailable);
  border-color: var(--color-unavailable);
  color: white;
}
.button-suspended {
  background-color: var(--color-suspendend);
  border-color: var(--color-suspendend);
  color: white;
}

.button-stop {
  background-color: var(--color-detener);
  border-color: var(--color-detener);
  color: white;
}

.button-interrumpir {
  background-color: var(--color-detener);
  border-color: var(--color-interrumpir);
  color: white;
}

.button-reservado {
  background-color: var(--color-reserved);
  border-color: var(--color-reserved);
  color: white;
}

.right-aligned-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin-left: auto;
}

.right-aligned-container p {
  margin: 0;
  font-size: 0.875rem;
}

div.alineacion {
  display: flex;
  justify-content: flex-end;
  /* Alinear los contenedores a la derecha */
  gap: 16px;
  /* Espacio entre los botones */
}

.button-container {
  display: flex;
  flex-direction: column;
  /* Coloca el botón encima del texto */
  align-items: center;
  /* Centrar el texto debajo del botón */
}

.button-especial {
  background-color: var(--color-especial);
  border-color: var(--color-especial);
  color: var(--color-white);
  border-radius: 55px;
}

/* Estilo global o específico del componente */
:host ::ng-deep .p-splitbutton {
  background-color: var(--color-especial); /* o cualquier color que desees */
  color: white; /* color del texto */
  border: none; /* sin borde si prefieres */
  border-color: var(--color-especial);
}

:host ::ng-deep .p-splitbutton .p-splitbutton-menubutton {
  background-color: var(--color-especial); /* color secundario para el botón de menú */
  color: white;
  border-color: var(--color-especial);
}

:host ::ng-deep .p-splitbutton .p-splitbutton-defaultbutton, .p-splitbutton.p-button-rounded>.p-splitbutton-defaultbutton.p-button, .p-splitbutton.p-button-outlined>.p-splitbutton-defaultbutton.p-button {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0 none;
  background-color: var(--color-especial);
  border-color: var(--color-especial);
}

// .estilo-1 {
//   z-index: 10;
// }
// para que muestre dentro de una tabla sin mostrar el scroll
:host ::ng-deep .p-splitbutton-menu {
  z-index: 1000; /* Ajusta según sea necesario */
}