<p-toast></p-toast>

<form [formGroup]="formProduct">
  <div class="grid">
    <div class="col-12">
      <p-dialog [(visible)]="dialog" [style]="{width: '50vw'}" header={{titleForm}} [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <div class="col-12">
            <div class="p-fluid p-formgrid grid">
              <div hidden class="form-group field">
                <input type="text" pInputText id="id" formControlName="id" />
              </div>

              <div class="form-group field col-12 md:col-6">
                <label for="categoryId">{{labels.category}}</label>
                <p-dropdown inputId="categoryId" formControlName="categoryId" [options]="categories" optionLabel="name"
                  optionValue="id" placeholder="Selecciona una categoría..." [filter]="true" filterBy="name"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && formProduct.controls['categoryId'].invalid}">
                  <ng-template let-category pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ category.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <div *ngIf="submitted && formProduct.controls['categoryId'].invalid">
                  <small class="p-error" *ngIf="formProduct.get('categoryId')?.hasError('required')">
                    {{messages.requiredField}}
                  </small>
                </div>
              </div>

              <div class="form-group field col-12 md:col-6">
                <label for="name">{{labels.name}}</label>
                <input type="text" pInputText id="name" required formControlName="name"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && formProduct.controls['name'].invalid}" />
                <div *ngIf="submitted && formProduct.controls['name'].invalid">
                  <small class="p-error" *ngIf="formProduct.get('name')?.hasError('required')">
                    {{messages.requiredField}}
                  </small>
                </div>
              </div>

              <div class="form-group field col-12 md:col-6">
                <label for="description">{{labels.description}}</label>
                <input type="text" pInputText id="description" required formControlName="description"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && formProduct.controls['description'].invalid}" />
                <div *ngIf="submitted && formProduct.controls['description'].invalid">
                  <small class="p-error" *ngIf="formProduct.get('description')?.hasError('required')">
                    {{messages.requiredField}}
                  </small>
                </div>
              </div>

              <div class="form-group field col-12 md:col-6">
                <label for="price">{{labels.price}}</label>
                <input type="text" pInputText id="price" required formControlName="price"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && formProduct.controls['price'].invalid}" />
                <div *ngIf="submitted && formProduct.controls['price'].invalid">
                  <small class="p-error" *ngIf="formProduct.get('price')?.hasError('required')">
                    {{messages.requiredField}}
                  </small>
                </div>
              </div>

              <div class="form-group field col-12 md:col-6">
                <label for="stock">{{labels.stock}}</label>
                <input type="text" pInputText id="stock" required formControlName="stock"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && formProduct.controls['stock'].invalid}" />
                <div *ngIf="submitted && formProduct.controls['stock'].invalid">
                  <small class="p-error" *ngIf="formProduct.get('stock')?.hasError('required')">
                    {{messages.requiredField}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple [label]="buttons.cancel" icon="pi pi-times" class="p-button-secondary p-button-rounded mr-2"
            (click)="hideDialog()"></button>
          <button pButton pRipple [label]="buttons.save" icon="pi pi-check" class="p-button-rounded mr-2"
            (click)="save()"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</form>
