<p-table
  *ngIf="componenteVisible"
  [columns]="cols6"
  [value]="reporte"
  [tableStyle]="{ 'min-width': '50rem' }"
  width="100%"
  class="custom-p-table"
>
  <ng-template pTemplate="caption">
    <div class="grid">
      <div class="col-fixed" style="width:10%">
        <div class="text-center p-0 border-round-sm font-bold">
          <p-button
            label="Descargar"
            icon="pi pi-fw pi-file-excel"
            (click)="descargaArchivo()"
            size="small"
            [outlined]="true"
          />
        </div>
      </div>
      <div class="col">
          <div class="text-center p-0 border-round-sm font-bold">
            <label><b>{{ numeroReporte }}</b></label>
          </div>
      </div>
  </div>
  </ng-template>
</p-table>
<!-- datos de operacion en electrolinera, reportes 8 -->
