<p-confirmDialog
  [style]="{width: '50vw'}"></p-confirmDialog>

<div class="container">
  <div class="card">

    <div class="row">
      <h3><b>{{titleComponent.mainTitle}}</b></h3>
      <div style="display: flex; justify-content:flex-end; margin-bottom: 1rem;" *ngIf="serviceResponse">
        <p-button icon="pi pi-refresh" [rounded]="true" (click)="getCustomers()" pTooltip="Actualizar" tooltipPosition="left"></p-button>
      </div>
    </div>

    <div class="row" *ngIf="serviceResponse">
      <p-table responsiveLayout="stack" #dt1 [value]="customers" dataKey="id" width="100%"
        styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="false" [rows]="5"
        [rowsPerPageOptions]="[5,10,20]" [totalRecords]="100" paginatorLocale="es-ES">

        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearFilters(dt1) ; getCustomers()"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:5%; text-align:center; vertical-align:middle" rowspan="2">
              #
            </th>
            <!-- <th style="width:13%; text-align:center; vertical-align:middle" pSortableColumn="'names'">
              Nombres
              <p-sortIcon field="names" (click)="customSort('names', orden)"></p-sortIcon>
            </th>
            <th style="width:13%; text-align:center; vertical-align:middle" pSortableColumn="'lastName'">
              Apellido Paterno
              <p-sortIcon field="lastName" (click)="customSort('lastName', orden)"></p-sortIcon>
            </th>
            <th style="width:13%; text-align:center; vertical-align:middle" pSortableColumn="'motherLastName'">
              Apellido Materno
              <p-sortIcon field="motherLastName" (click)="customSort('motherLastName', orden)"></p-sortIcon>
            </th> -->
            <th style="width:16%; text-align:center; vertical-align:middle" pSortableColumn="'electronicMail'">
              Correo Electrónico
              <p-sortIcon field="electronicMail" (click)="customSort('electronicMail', orden)"></p-sortIcon>
            </th>
            <th style="width:10%; text-align:center; vertical-align:middle" rowspan="2">
              Ultima Transacción Bs
            </th>
            <th style="width:10%; text-align:center; vertical-align:middle" rowspan="2">
              Saldo Actual Bs
            </th>
            <th style="width:10%; text-align:center; vertical-align:middle" rowspan="2">
              Ultima Estación de Carga
            </th>
            <th style="width:15%; text-align:center; vertical-align:middle" rowspan="2" pSortableColumn="'enabled'">
              Estado
              <p-sortIcon field="enabled" (click)="customSort('enabled', orden)"></p-sortIcon>
            </th>
            <th style="width:5%; text-align:center; vertical-align:middle" rowspan="2">
              Detalles
            </th>
          </tr>

          <tr>
            <!-- <th>
              <input pInputText type="text" (input)="applyFilter($event, 'names', 'contains')"
                placeholder="Busca por nombres" class="w-full" [(ngModel)]="names">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'lastName', 'contains')"
                placeholder="Busca por nombres" class="w-full" [(ngModel)]="lastName">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'motherLastName', 'contains')"
                placeholder="Busca por apellido materno" class="w-full" [(ngModel)]="motherLastName">
            </th> -->
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'electronicMail', 'contains')"
                placeholder="Busca por Correo Electrónico" class="w-full" [(ngModel)]="electronicMail">
            </th>
          </tr>
          
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td style="text-align:center; vertical-align:middle">{{rowIndex + 1}}</td>
            <td style="text-align:left; vertical-align:middle">{{rowData['electronicMail']}}</td>

            <td style="text-align:right; vertical-align:middle" *ngIf="rowData['lastRechargeAmount']">{{rowData['lastRechargeAmount'] | numberDecimal:2}}</td>
            <td style="text-align:right; vertical-align:middle" *ngIf="!rowData['lastRechargeAmount']">0.00</td>

            <td style="text-align:right; vertical-align:middle">{{rowData['remainingCredit'] | numberDecimal:2}}</td>

            <td style="text-align:center; vertical-align:middle" *ngIf="rowData['lastChargingStation']">{{rowData['lastChargingStation']}}</td>
            <td style="text-align:center; vertical-align:middle" *ngIf="!rowData['lastChargingStation']">Sin Carga</td>

            <td style="text-align:center; vertical-align:middle">
              <div *ngIf="esSuperAdmin">
                <p-inputSwitch [(ngModel)]="rowData['enabled']"
                  (onChange)="confirmSwitchChange($event, rowData)"></p-inputSwitch>
                <br>
                <label *ngIf="rowData['enabled']">Habilitado</label>
                <label *ngIf="!rowData['enabled']">Deshabilitado</label>
              </div>
              <div *ngIf="!esSuperAdmin">
                <label >{{rowData['enabled'] | formatHabilitadoDeshabilitado}}</label>
              </div>
            </td>

            <td style="text-align:center; vertical-align:middle">
              <i class="pi pi-eye" style="font-size: 1.5rem; color: var(--primary-color)" (click)="onOpenDetail(rowData)"
                tooltipPosition="top" pTooltip="Ver más"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="itemsPerPage"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {{totalRecords}} registros">
      </p-paginator>
    </div>

    <div *ngIf="!serviceResponse">
      <app-not-found [mensajeNotFound]="mensaje" (datosEnviados)="getCustomers()"></app-not-found>
      <br> <br>
    </div>

    <!-- Dialog Detalle -->
    <p-dialog header='{{titlesGlobales.detail}} {{customer.electronicMail}}' [(visible)]="dialogDetalle" [modal]="true"
      [breakpoints]="{ '3500px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw'}" [draggable]="false"
      [resizable]="false" [maximizable]="true">

      <p-tabView>
        <p-tabPanel header="Cliente">
          <div class="grid">
            <div class="col-3" style="text-align: left;">
              <ul>
                <li><i class="pi pi-user" style="color: var(--primary-color)"></i> &nbsp; <b>Usuario: </b></li>
                <li><i class="pi pi-credit-card" style="color: var(--primary-color)"></i> &nbsp; <b>Ultima Transacción Bs: </b></li>
                <li><i class="pi pi-money-bill" style="color: var(--primary-color)"></i> &nbsp; <b>Saldo Actual: </b></li>
                <li><i class="pi pi-car" style="color: var(--primary-color)"></i> &nbsp; <b>Ultima Estación de Carga: </b></li>
              </ul>
            </div>
            <div class="col-9" style="text-align: left;">
              <ul>
                <li><label>{{customer.electronicMail}}</label></li>
                <li><label>{{customer.lastRechargeAmount}} <br></label></li>
                <li><label>{{customer.remainingCredit}}</label></li>
                <li><label>{{customer.lastChargingStation}}</label></li>
              </ul>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Compras de Crédito /Gifcard">
          <div style="padding-bottom: 3.250rem;">
            <p-table [value]="customer.paymentTransactionsElectrolineraList" [paginator]="true" [rows]="5"
              [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]" #tableref width="100%"
              [globalFilterFields]="['nombreRazonSocial', 'numeroDocumento', 'complemento', 'gloss', 'amount']"
              [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {{totalTransacciones}} registros">
              <ng-template pTemplate="caption">
                <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText (input)="tableref.filterGlobal(
                     $any($event.target).value, 'contains')" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:5%"> Nro.</th>

                  <th style="width:15%" pSortableColumn="nombreRazonSocial">Razón Social <p-sortIcon
                      field="nombreRazonSocial"></p-sortIcon> </th>

                  <th style="width:13%" pSortableColumn="numeroDocumento">N° Documento <p-sortIcon
                      field="numeroDocumento"></p-sortIcon> </th>

                  <th style="width:13%" pSortableColumn="complemento">Complemento <p-sortIcon
                      field="complemento"></p-sortIcon> </th>

                  <th style="width:15%" pSortableColumn="paymentDate">Fecha Transacción<p-sortIcon
                      field="paymentDate"></p-sortIcon>
                  </th>

                  <th style="width:15%" pSortableColumn="gloss">Glosario <p-sortIcon field="gloss"></p-sortIcon> </th>

                  <th style="width:12%" pSortableColumn="amount">Transacción Bs.<p-sortIcon field="amount"></p-sortIcon> </th>

                  <th style="width:12%" pSortableColumn="processPayment">Estado Pago <p-sortIcon
                      field="processPayment"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr>
                  <td style="text-align:right; vertical-align:middle">{{rowIndex + 1}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{customer.nombreRazonSocial}}</td>
                  <td style="text-align:right; vertical-align:middle" class="uppercase">{{customer.numeroDocumento}}</td>

                  <td style="text-align:left; vertical-align:middle" class="uppercase" *ngIf="customer.complemento != 'null'">{{customer.complemento}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase" *ngIf="customer.complemento == 'null'">s/c</td>

                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{customer.paymentDate | formatDiaMesAnio}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{customer.gloss}}</td>
                  <td style="text-align:right; vertical-align:middle" class="uppercase">{{customer.amount | numberDecimal:2}}</td>
                  <td style="text-align:right; vertical-align:middle" class="uppercase">{{customer.processPayment | formatPagadoNoPagado}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>

        <!-- <p-tabPanel header="Cargas">
          <div style="padding-bottom: 3.250rem;">
            <p-table [value]="customer.chargeClientList" [paginator]="true" [rows]="5"
              [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]" #tableCargas
              [globalFilterFields]="['nombreRazonSocial', 'numeroDocumento', 'complemento', 'gloss', 'amount']"
              [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {{totalCargas}} registros">
              <ng-template pTemplate="caption">
                <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText (input)="tableCargas.filterGlobal(
                   $any($event.target).value, 'contains')" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:5%"> Nro.</th>

                  <th style="width:10%" pSortableColumn="amount">Monto Carga Bs <p-sortIcon field="amount"></p-sortIcon> </th>

                  <th style="width:8%" pSortableColumn="changeFee">Comisión Uso <p-sortIcon
                      field="changeFee"></p-sortIcon></th>

                  <th style="width:13%" pSortableColumn="staredChargingAt">Carga Inicio <p-sortIcon
                      field="staredChargingAt"></p-sortIcon></th>

                  <th style="width:13%" pSortableColumn="finisheAt">Carga Final <p-sortIcon
                      field="finisheAt"></p-sortIcon>
                  </th>

                  <th style="width:13%" pSortableColumn="duration">Duración Carga (Hrs)<p-sortIcon field="duration"></p-sortIcon>
                  </th>

                  <th style="width:10%" pSortableColumn="energyComsumed">Energía Consumida kW <p-sortIcon
                      field="energyComsumed"></p-sortIcon></th>

                  <th style="width:10%" pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>

                  <th style="width:15%" pSortableColumn="chargingStation">Estación Carga <p-sortIcon
                      field="chargingStation"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr>
                  <td style="text-align:right; vertical-align:middle">{{rowIndex + 1}}</td> 
                  <td style="text-align:right; vertical-align:middle">{{customer.amount | numberDecimal:2}}</td>
                  <td style="text-align:right; vertical-align:middle">{{customer.changeFee}}</td>
                  <td style="text-align:right; vertical-align:middle">{{customer.staredChargingAt | formatHoraMinutoSegundo }}</td>
                  <td style="text-align:right; vertical-align:middle">{{customer.finisheAt | formatHoraMinutoSegundo}}</td>
                  <td style="text-align:right; vertical-align:middle">{{customer.duration | formatSegundosEnHoraMinutoSegundo}}</td>
                  <td style="text-align:right; vertical-align:middle">{{customer.energyComsumed}}</td>
                  <td style="text-align:center; vertical-align:middle" class="uppercase">{{customer.status}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{customer.chargingStation}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

        </p-tabPanel> -->

        <p-tabPanel header="Historial de Cargas">
          <div style="padding-bottom: 3.250rem;">
            <p-table [value]="customerHistory" [paginator]="true" [rows]="5"
              [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]" #tableref width="100%"
              [globalFilterFields]="['nameChargingStation', 'startedAt', 'finishedAt', 'energyConsumed', 'tipocurrentOfferedMode', 'currentOfferedMode']"
              [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {{totalHistorial}} registros">
              <ng-template pTemplate="caption">
                <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText (input)="tableref.filterGlobal(
                     $any($event.target).value, 'contains')" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:5%"> Nro.</th>
                  <th style="width:15%" pSortableColumn="nameChargingStation">Electrolinera
                    <p-sortIcon field="nameChargingStation"></p-sortIcon>
                  </th>
                  <th style="width:13%" pSortableColumn="startedAt">Fecha Inicio
                    <p-sortIcon field="startedAt"></p-sortIcon>
                  </th>
                  <th style="width:13%" pSortableColumn="finishedAt">Fecha Final
                    <p-sortIcon field="finishedAt"></p-sortIcon>
                  </th>
                  <th style="width:15%" pSortableColumn="energyConsumed">Energia Consumida (Wh)
                    <p-sortIcon field="energyConsumed"></p-sortIcon>
                  </th>
                  <th style="width:15%" pSortableColumn="tipocurrentOfferedMode">Velocidad de Carga
                    <p-sortIcon field="tipocurrentOfferedMode"></p-sortIcon>
                  </th>
                  <th style="width:12%" pSortableColumn="currentOfferedMode">Corriente Suministrada (A)
                    <p-sortIcon field="currentOfferedMode"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                  <td style="text-align:right; vertical-align:middle">{{rowIndex + 1}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['nameChargingStation']}}</td>
                  <td style="text-align:right; vertical-align:middle" class="uppercase">{{rowData['startedAt'] | formatDateAndTime}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['finishedAt'] | formatDateAndTime}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['energyConsumed']}}</td>
                  <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['tipocurrentOfferedMode']}}</td>
                  <td style="text-align:right; vertical-align:middle" class="uppercase">{{rowData['currentOfferedMode'] | numberDecimal:2}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
      </p-tabView>

    </p-dialog>
    <!-- </section> -->
  </div>
</div>
<p-toast></p-toast>
<p-blockUI [blocked]="loading">
  <div class="loading-container">
    <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
    <p>Cargando...</p>
  </div>
</p-blockUI>