<div class="container">
  <section class="listado">
    <h3>{{titleProduct.mainTitle}}</h3>

    <p-table #dt1 [columns]="cols" [value]="customers" dataKey="id"
      styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="false" [rows]="5"
      [showCurrentPageReport]="false" currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
      [rowsPerPageOptions]="[5,10,20]" [totalRecords]="100" paginatorLocale="es-ES">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
            {{col.header}}
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
          </th>
        </tr>

        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'names'" pInputText type="text" (input)="applyFilter($event, 'names', 'contains')"
              placeholder="Busca por nombres" class="w-full">

            <input *ngSwitchCase="'lastName'" pInputText type="text"
              (input)="applyFilter($event, 'lastName', 'contains')" placeholder="Busca por apellido paterno"
              class="w-full">

            <input *ngSwitchCase="'motherLastName'" pInputText type="text"
              (input)="applyFilter($event, 'motherLastName', 'contains')" placeholder="Busca por apellido materno"
              class="w-full">

            <input *ngSwitchCase="'electronicMail'" pInputText type="text"
              (input)="applyFilter($event, 'electronicMail', 'contains')" placeholder="Busca por email" class="w-full">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field != '';then normal_content else icon_content"></div>
            <ng-template #normal_content>
              {{rowData[col.field]}}
            </ng-template>
            <ng-template #icon_content>
              <button pButton pRipple type="button" icon="pi pi-info" pTooltip="Información" tooltipPosition="top"
                class="p-button-rounded mr-2 p-button-warning" styleClass="p-button-sm"
                (click)="onOpenDetail(rowData)"></button>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Paginador -->
    <div class="card flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="itemsPerPage"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]">
      </p-paginator>
    </div>
    <!-- Paginador -->

    <!-- Dialog Detalle -->
    <p-dialog header="Header" [(visible)]="dialogDetalle" [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
      [resizable]="false">

      <p-tabView>
        <p-tabPanel header="Cliente">

          <div class="form-group field col-12 md:col-6">
            <span class="p-float-label">
              <input pInputText id="username" [(ngModel)]="customer.names" />
              <label htmlFor="username">Nombres</label>
            </span>
          </div>

          <div class="form-group field col-12 md:col-6">
            <span class="p-float-label">
              <input pInputText id="lastName" [(ngModel)]="customer.lastName" />
              <label htmlFor="lastName">Apellido Paterno</label>
            </span>
          </div>

          <div class="form-group field col-12 md:col-6">
            <span class="p-float-label">
              <input pInputText id="motherLastName" [(ngModel)]="customer.motherLastName" />
              <label htmlFor="motherLastName">Apellido Materno</label>
            </span>
          </div>

          <div class="form-group field col-12 md:col-6">
            <span class="p-float-label">
              <input pInputText id="phoneNumber" [(ngModel)]="customer.phoneNumber" />
              <label htmlFor="phoneNumber">Número de Celular</label>
            </span>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Transacciones">
          <p-table [value]="customer.paymentTransactionsElectrolineraList" [paginator]="true" [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 5, 20]" #tableref 
            [globalFilterFields]="['nombreRazonSocial', 'numeroDocumento', 'complemento', 'gloss', 'amount']">
            <ng-template pTemplate="caption">
              <div class="flex">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input type="text" pInputText (input)="tableref.filterGlobal(
                   $any($event.target).value, 'contains')" />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width:20%" pSortableColumn="nombreRazonSocial">Razon Social <p-sortIcon field="nombreRazonSocial"></p-sortIcon> </th>
                <th style="width:20%" pSortableColumn="numeroDocumento">N° Documento <p-sortIcon field="numeroDocumento"></p-sortIcon> </th>
                <th style="width:20%" pSortableColumn="complemento">Complemento <p-sortIcon field="complemento"></p-sortIcon> </th>
                <th style="width:20%" pSortableColumn="paymentDate">Fecha <p-sortIcon field="paymentDate"></p-sortIcon> </th>
                <th style="width:20%" pSortableColumn="gloss">Glosario <p-sortIcon field="gloss"></p-sortIcon> </th>
                <th style="width:20%" pSortableColumn="amount">Transaccion <p-sortIcon field="amount"></p-sortIcon> </th>
                <th style="width:20%" pSortableColumn="processPayment">Procesar Pago <p-sortIcon field="processPayment"></p-sortIcon></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
              <tr>
                <td>{{customer.nombreRazonSocial}}</td>
                <td>{{customer.numeroDocumento}}</td>
                <td>{{customer.complemento}}</td>
                <td>{{customer.paymentDate | formatFieldDate}}</td>
                <td>{{customer.gloss}}</td>
                <td>{{customer.amount}}</td>
                <td>{{customer.processPayment}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>

        <p-tabPanel header="Cargas">
          <p-table [value]="customer.chargeClientList" [paginator]="true" [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]" #tableCargas
            [globalFilterFields]="['nombreRazonSocial', 'numeroDocumento', 'complemento', 'gloss', 'amount']" >
            <ng-template pTemplate="caption">
              <div class="flex">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input type="text" pInputText (input)="tableCargas.filterGlobal(
                   $any($event.target).value, 'contains')" />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width:20%" pSortableColumn="amount">Monto de carga <p-sortIcon field="amount"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="changeFee">Comision por uso <p-sortIcon field="changeFee"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="staredChargingAt">Carga inicio <p-sortIcon field="staredChargingAt"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="finisheAt">Carga final <p-sortIcon field="finisheAt"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="duration">duracion <p-sortIcon field="duration"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="energyComsumed">Energia Consumida (Kwh) <p-sortIcon field="energyComsumed"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="status">estado <p-sortIcon field="status"></p-sortIcon></th>
                <th style="width:20%" pSortableColumn="chargingStation">Estacion de carga <p-sortIcon field="chargingStation"></p-sortIcon></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
              <tr>
                <td>{{customer.amount}}</td>
                <td>{{customer.changeFee}}</td>
                <td>{{customer.staredChargingAt | formatFieldTime }}</td>
                <td>{{customer.finisheAt | formatFieldTime}}</td>
                <td>{{customer.duration}}</td>
                <td>{{customer.energyComsumed}}</td>
                <td>{{customer.status}}</td>
                <td>{{customer.chargingStation}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>

    </p-dialog>

  </section>
</div>