<!-- Reporte anidado, reportes 3-->
<p-table *ngIf="componenteVisible" [columns]="cols3" [value]="reporte" [tableStyle]="{'min-width': '50rem'}"
	width="100%" class="custom-p-table">
	<ng-template pTemplate="caption">
		<p-button icon="pi pi-fw pi-file-excel" (click)="descargaArchivo()" [rounded]="true" [text]="true"
			[raised]="true" severity="success"></p-button> &nbsp;
		<label><b>Descargar {{numeroReporte}} de {{tab.content.initialDate}} a {{tab.content.finalDate}}</b></label>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns">
				{{ col.header }}
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns" let-rowgroup="rowgroup" let-rowspan="rowspan">
		<tr>
			<td style="text-align:left; vertical-align:top"> {{rowData.codigoDescripcion}}</td>
			<td style="text-align:left; vertical-align:top"> {{rowData.fechaRegistro}}</td>
			<td style="text-align:left; vertical-align:top"> {{rowData.cuf}}</td>
			<td style="text-align:left; vertical-align:top"> {{rowData.paymentTransactionType}}</td>
			<td *ngIf="rowData.invoicesPaymentTrasantionsResponseDtoList.length > 0">
				<p-table [value]="rowData.invoicesPaymentTrasantionsResponseDtoList">
					<ng-template pTemplate="header" let-columns>
		<tr>
			<th>Código Recepción</th>
			<th>Cuf</th>
			<th>Tipo de Pago</th>
			<th>Fecha Registro</th>
			<th>Url Factura Siat</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr>
			<td style="text-align:left; vertical-align:middle"> {{rowData.codigoDescripcion }}</td>
			<td style="text-align:left; vertical-align:middle"> {{rowData.cuf }}</td>
			<td style="text-align:left; vertical-align:middle"> {{rowData.paymentTransactionType }}</td>
			<td style="text-align:left; vertical-align:middle"> {{rowData.fechaRegistro }}</td>
			<td style="text-align:left; vertical-align:middle"> {{rowData.urlFacturaSiat }}</td>
		</tr>
	</ng-template>
</p-table>
</td>
<td *ngIf="rowData.invoicesPaymentTrasantionsResponseDtoList.length == 0">
	SIN FACTURA
</td>
</tr>
</ng-template>
</p-table>
<!-- Reporte anidado, reportes 3-->