<!-- de qui saque el diseno
https://github.com/mazipan/login-page-css/blob/master/src/15-netflix/index.html 
-->

<body>
  <p-toast></p-toast>
  <div class="upper">
    <div class="login-div">

      <form class="login" [formGroup]="loginForm">
        <img src="../../../assets/img/delapaz2.png" alt="delapaz" width="100%">
        <h4>SISTEMA DE GESTIÓN DE ELECTROLINERAS</h4>

        <div class="campo-texto">
          <span class="p-input-icon-right">
            <input type="text" pInputText id="inputEmail" name="email" placeholder="Usuario"
              formControlName="username" />
            <i class="pi pi-user"></i>
          </span>
        </div>

        <div class="campo-texto">
          <span class="p-input-icon-right">
            <input [type]="showPassword ? 'text' : 'password'" pInputText id="inputPassword" name="password"
              placeholder="contraseña" formControlName="password" />
            <i [class]="iconClass" (click)="togglePasswordVisibility()"></i>
          </span>
        </div>

        <div>
          <button class="signin-button" (click)="onIniciaSesion()">Iniciar Sesión</button>
        </div>
      </form>

    </div>
  </div>
</body>