<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onIniciaSesion()" class="login-form">
    <h2>Bienvenido</h2>
    <div class="password-wrapper">
      <label>
        Nombre de usuario:
        <input type="text" formControlName="username">
        <span class="username-icon">
          <i class="pi pi-user"></i>
        </span>
      </label>
    </div>

    <div class="password-wrapper">
      <label>
        Contraseña:
        <input type="password" formControlName="password" formControlName="password" required="required"
          [type]="showPassword ? 'text' : 'password'">
        <span class="password-toggle-icon border-round" (click)="togglePasswordVisibility()">
          <i [class]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
        </span>
      </label>
    </div>

    <button type="submit">Iniciar sesión</button>
  </form>
</div>