<!-- Reporte simple, reportes 1,2,4,5 -->
<p-table *ngIf="componenteVisible" [columns]="cols7" [value]="reporte" [tableStyle]="{'min-width': '50rem'}" width="100%" class="custom-p-table">
  <ng-template pTemplate="caption">
    <div class="grid">
      <div class="col-fixed" style="width:10%">
        <div class="text-center p-0 border-round-sm font-bold">
          <p-button
            label="Descargar"
            icon="pi pi-fw pi-file-excel"
            (click)="descargaArchivo()"
            size="small"
            [outlined]="true"
          />
        </div>
      </div>
      <div class="col">
          <div class="text-center p-0 border-round-sm font-bold">
            <label><b>{{ numeroReporte }}</b></label>
          </div>
      </div>
  </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowgroup="rowgroup" let-rowspan="rowspan">
    <tr>
      <td style="text-align:left; vertical-align:top"> {{rowData.electronicMail}}</td>
      <td style="text-align:left; vertical-align:top"> {{rowData.names}}</td>
      <td style="text-align:left; vertical-align:top"> {{rowData.lastName}}</td>
      <td style="text-align:left; vertical-align:top"> {{rowData.motherLastName}}</td>
      <td style="text-align:left; vertical-align:top"> {{rowData.identificationNumber}}</td>
      <td *ngIf="rowData.clientInvoiceList.length > 0">
        <p-table [value]="rowData.clientInvoiceList">
          <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Nº Factura</th>
      <th>Cuf</th>
      <th>Código Descripción</th>
      <th>Código Recepción</th>
      <th>Fecha Registro</th>
      <th>Url Factura Siat</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td style="text-align:left; vertical-align:middle"> {{rowData.numeroFactura}}</td>
      <td style="text-align:left; vertical-align:middle" [pTooltip]="rowData.cuf"> {{rowData.cuf | truncate}}</td>
      <td style="text-align:left; vertical-align:middle"> {{rowData.codigoDescripcion }}</td>
      <td style="text-align:left; vertical-align:middle"> {{rowData.codigoRecepcion }}</td>
      <td style="text-align:left; vertical-align:middle"> {{rowData.fechaRegistro }}</td>
      <td style="text-align:left; vertical-align:middle" (click)="onOpenUrl(rowData.urlFacturaSiat)" class="p-button p-button-link text-blue-600 underline cursor-pointer" pTooltip="Abrir en Siat"> {{rowData.urlFacturaSiat | truncate}}</td>
    </tr>
  </ng-template>
</p-table>
</td>
<td *ngIf="rowData.clientInvoiceList.length == 0">
  SIN FACTURA
</td>
</tr>
</ng-template>
</p-table>
<!-- suministro cliente, reportes 7 -->