<div class="container">
  <div class="card">

    <div class="row">
      <h3><b>{{titleComponent.mainTitle}}</b></h3>
      <div style="display: flex; justify-content:flex-end; margin-bottom: 1rem;">
        <p-button icon="pi pi-refresh" [rounded]="true" (click)="getInvoicesCharging()" pTooltip="Actualizar" tooltipPosition="left"></p-button>
      </div>
    </div>

    <div class="row">
      <p-table responsiveLayout="stack" #dt1 [columns]="cabeceras" [value]="invoices" dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="false" [rows]="5"
        [showCurrentPageReport]="false"
        currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
        [rowsPerPageOptions]="[5,10,20]" [totalRecords]="100" paginatorLocale="es-ES">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th rowspan="2">
              #
            </th>
            <th pSortableColumn="'cuf'">
              CUF
              <p-sortIcon field="cuf" (click)="customSort('cuf', orden)"></p-sortIcon>
            </th>
            <th rowspan="2">
              Razón Social
            </th>
            <th rowspan="2">
              Nombre Cliente
            </th>
            <th pSortableColumn="'amount'">
              Monto
              <p-sortIcon field="amount" (click)="customSort('amount', orden)"></p-sortIcon>
            </th>
            
            <th pSortableColumn="'urlFacturaSiat'">
              URL factura
              <p-sortIcon field="urlFacturaSiat" (click)="customSort('urlFacturaSiat', orden)"></p-sortIcon>
            </th>
            <th rowspan="2">
              Número GiftCard
            </th>
            <th rowspan="2">
              Placa
            </th>
            <th rowspan="2">
              Factura
            </th>
          </tr>

          <tr>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'cuf', 'contains')" placeholder="Buscar "
                class="w-full">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'amount', 'contains')" placeholder="Buscar "
                class="w-full">
            </th>
            <th>
              <input pInputText type="text" (input)="applyFilter($event, 'urlFacturaSiat', 'contains')" placeholder="Buscar "
                class="w-full">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td style="text-align:right; vertical-align:middle" class="uppercase">{{ rowData?.totalUnits }} {{rowIndex + 1}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['cuf']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['razonSocial']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['nombreCliente']}}</td>
            <td style="text-align:right; vertical-align:middle" class="uppercase">{{rowData['amount'] | numberDecimal:2}}</td>
            <td>
              <a href="{{rowData['urlFacturaSiat']}}" target="_blank">Factura Siat</a>
            </td>
            <td>{{rowData['giftCardNumber']}}</td>
            <td style="text-align:left; vertical-align:middle" class="uppercase">{{rowData['placaVehiculo']}}</td>
            <td>
              <i class="pi pi-file-pdf" style="font-size: 1.5rem; color: var(--pdf)" (click)="onOpenFactura(rowData)"
                tooltipPosition="top" pTooltip="Ver más"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="itemsPerPage"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {{totalRecords}} registros">
      </p-paginator>
    </div>

    <!-- </section> -->
  </div>
</div>