.not-found-container {
  text-align: center;
  margin-top: 50px;
}

.not-found-container img {
  max-width: 400px;
  margin: 20px auto;
}

.not-found-container p-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  // background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-text);
}